@use '../../../scss/' as *;

.WeatherBeats {
  background-image: url(../../../assets/WeatherBeats_mobile.jpg);
  background-position: 50% 5%;
  background-repeat: no-repeat;
  background-size: cover;

  border-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 0%);

  @extend %project-summary;
}

.Title {
  // height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Summary {
  // height: 55%;
  padding: 0.25vw 1.25vw;
  font-size: var(--project-summary-text);
  text-align: justify;
}

@include media-query(desktop-small) {
  .WeatherBeats {
    background-position: 50% 65%;
    border-radius: 1.25vw;
  }

  .Summary {
    padding: 0.5vw 1.5vw;
  }
}

@include media-query(tablet) {
  .WeatherBeats {
    background-position: 50% 50%;
    border-radius: 1.5vw;
  }

  .Title {
    // height: 25%;
  }

  .Summary {
    // height: 55%;
  }
}

@include media-query(mobile) {
  .WeatherBeats {
    background-position: 50% 65%;
    border-radius: 3vw;
  }

  .Title {
    // height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .Summary {
    // height: 55%;
    padding: 1vw 5vw;
  }
}
