.WeatherBeatsDetails {
    background-image: url(../../../assets/WeatherBeats_full.jpg);
    background-position: 5% 55%;
    background-repeat: no-repeat;
    background-size: 155%;

    border: .25vw solid brown;
    border-radius: 1vw;
    padding: 1vw 2vw;

    position: absolute;
    top: 33%;
    left: 23%;
    z-index: 2;

    height: 55%;
    width: 54%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    overflow: auto;
}

.ProjectTech {
    font-size: 1.5vw;
    font-weight: bold;
}

.ProjectInfo {
    font-size: 1.5vw;
    text-align: justify;
}

.ProjectLinks {
    font-size: 1.5vw;
}


.CloseButton {
    background: yellow;
    border-radius: 50%;
    margin: 1vw;
    padding: .25vw;
    width: max-content;
    font-size: 1.25vw;
}

@media screen and (max-width: 900px) and (orientation: portrait) {
    .WeatherBeatsDetails {
        transform: rotate(-90deg);
        top: 35%;
        left: 20%;
        height: 35vw;
        width: 40vh;
    }
}

@media screen and (max-width: 500px) and (orientation: portrait) {
    .WeatherBeatsDetails {
        top: 40%;
        left: 10%;
        height: 45vw;
        width: 40vh;
    }
}
