@use '../../../scss/' as *;

.WeatherBeatsDetails {
  background-color: yellow;
  background-image: url(../../../assets/WeatherBeats_full.jpg);
  background-position: 5% 10%;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 150%;

  border-color: hsl(0, 0%, 0%);

  color: hsl(0, 0%, 0%);

  @extend %project-details;

  @include media-query(junior) {
    background-size: cover;
  }
}
