@use '../../../scss/' as *;

.WeatherBeats {
  background-image: url(../../../assets/WeatherBeats_mobile.jpg);
  background-position: 50% 5%;
  background-repeat: no-repeat;
  background-size: cover;

  border-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 0%);

  @extend %project-summary;
}

@include media-query(desktop-medium) {
  .WeatherBeats {
    background-position: 50% 5%;
    border-radius: 1.25vw;
  }
}

@include media-query(tablet) {
  .WeatherBeats {
    background-position: 50% 50%;
    border-radius: 1.5vw;
  }
}

@include media-query(mobile) {
  .WeatherBeats {
    background-position: 50% 55%;
    border-radius: 3vw;
  }
}
