@use '../../../scss/' as *;

.WeatherBeatsSummary {
  border-color: hsl(0, 0%, 0%);

  background-image: url(../../../assets/WeatherBeats_mobile.jpg);
  background-position: 50% 55%;
  background-repeat: no-repeat;
  background-size: cover;

  color: hsl(0, 0%, 0%);
}
