.WeatherBeatsDetails {
    background-color: yellow;
    background-image: url(../../../assets/WeatherBeats_full.jpg);
    background-position: 5% 40%;
    background-repeat: no-repeat;
    background-size: 155%;

    border: solid 0.25vw black;
    border-radius: 1vw;
    padding: 2vw;

    position: absolute;
    top: 23%;
    left: 23%;
    z-index: 1;

    height: 65%;
    width: 54%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    text-align: center;

    overflow: auto;
}

.ProjectTech {
    font-size: 1.5vw;
    font-weight: bold;
    margin: 1vw;
}

.ProjectInfo {
    font-size: 1.5vw;
    text-align: justify;
}

.ProjectLinks {
    color: yellow;
    font-size: 1.5vw;
    font-weight: 600
}

.LinkText {
    color: yellow;
    padding: 0vw 1vw;
}

.LinkText:hover {
    color: whitesmoke;
}

.ButtonContainer {
    position: absolute;
    top: 0%;
    left: 0%;
    margin: 0.5vw;
    padding: 0.5vw;
    width: 100%;
    text-align: left;
}

.CloseButton {
    background: yellow;
    border: black solid 0.15vw;
    border-radius: 50%;
    padding: .25vw 0.5vw;
    width: fit-content;
    font-size: 1.25vw;
}

@media screen and (max-width: 900px) {
    .WeatherBeatsDetails {
        background-position: 40% 20%;
        background-size: 275%;

        padding: 2vw 5vw;
        justify-content: flex-start;

        height: 60%;
        width: 65%;

        top: 23%;
        left: 18%;

        font-size: 3vw;
    }

    .ProjectTech {
        margin: 1vw;
        width: 90%;
        font-size: 3vw;
        font-weight: bold;
    }

    .ButtonContainer {
        margin: 0.5vw;
        padding: 0.5vw;
        width: 100%;
        text-align: left;
        position: absolute;
        top: 0%;
        left: 0%;
    }

    .ProjectInfo {
        margin: 2vw;
        font-size: 3vw;
        text-align: justify;
    }

    .ProjectLinks {
        margin: 2vw;
        font-size: 2.5vw;
        font-weight: 600;
    }

    .CloseButton {
        height: fit-content;
        width: min-content;
        margin: 1vw;
        padding: 0.5vw 0.75vw;
        font-size: 1.5vw;
    }
}

@media screen and (max-width: 500px) {
    .WeatherBeatsDetails {
        border: var(--bordercolor) solid 1.5vw;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: 400%;
        top: 0%;
        left: 0%;
        height: 100vh;
        width: 100vw;
        padding: 5vw;
        justify-content: space-around;
        font-size: 4.25vw;
    }

    .ProjectTech {
        margin: 1vw;
        width: 75%;
        font-size: 5vw;
        font-weight: bold;
    }
    
    .ProjectInfo {
        margin: 2vw;
        font-size: 5vw;
        text-align: justify;
    }

    .ProjectLinks {
        margin: 5vw;
        color: black;
        font-size: 4.5vw;
        font-weight: 600;
    }


    .CloseButton {
        height: fit-content;
        width: min-content;
        margin: 2vw;
        padding: 0.5vw 1vw;
        font-size: 4vw;
    }
}
