.WeatherBeatsDetails {
    background-color: yellow;
    background-image: url(../../../assets/WeatherBeats_full.jpg);
    background-position: 5% 10%;
    background-repeat: no-repeat;
    background-size: 175%;

    border: medium solid black;
    border-radius: 2vw;
    height: 96vh;
    width: 60vw;
    padding: 2vw;

    position: absolute;
    top: 2%;
    left: 20%;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    overflow: auto;
}

.ProjectTitle {
    margin: 2vw;
    font-size: var(--project-details-title);
}

.ProjectTech {
    margin: 2vw;
    font-size: var(--project-details-tech);
    font-weight: bold;
}

.ProjectInfo {
    margin: 2vw;
    font-size: var(--project-details-text);
    text-align: justify;
}

.ProjectLinks {
    margin: 2vw;
    font-size: var(--project-details-links);
    font-weight: 600;
}

.LinkText {
    padding: 0vw 1vw;
}

@media screen and (max-width: 1200px) {
    .WeatherBeatsDetails {
        background-position: 25% 20%;
        background-size: 235%;
        height: 97vh;
        padding: 3vw;
        top: 1.5%;
        justify-content: flex-start;
    }
}

@media screen and (max-width: 900px) {
    .WeatherBeatsDetails {
        background-position: 40% 0%;
        background-size: 250%;
        border-radius: 0;
        height: 100vh;
        width: 100vw;
        padding: 4vw;
        top: 0%;
        left: 0%;
    }

    .ProjectTitle,
    .ProjectTech,
    .ProjectInfo,
    .ProjectLinks {
        margin: 4vw;
    }

    .ProjectTech {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    .WeatherBeatsDetails {
        background-position: 50% 20%;
        background-size: 450%;
        padding: 5vw;
    }

    .ProjectTitle,
    .ProjectTech,
    .ProjectInfo,
    .ProjectLinks {
        margin: 5vw;
    }
}