@use '../../../scss/' as *;

.WeatherBeatsDetails {
  border-color: hsl(0, 0%, 100%);
  border-width: medium;
  border-style: solid;

  background-color: yellow;
  background-image: url(../../../assets/WeatherBeats_full.jpg);
  background-position: 5% 10%;
  background-repeat: no-repeat;
  background-size: cover;

  color: hsl(0, 0%, 0%);

  @include media-query-new(tablet-new) {
    border-radius: 1rem;
  }
}
