@use '../../../scss/' as *;

.MajorArcanaSummary {
  border-color: hsl(0, 0%, 100%);

  background: linear-gradient(
      180deg,
      hsl(0, 0%, 7%, 20%),
      hsl(0, 0%, 7%, 40%),
      hsl(0, 0%, 7%, 60%),
      hsl(0, 0%, 7%, 80%),
      hsl(0, 0%, 7%, 100%)
    ),
    hsl(0, 0%, 18%);

  color: hsl(25, 66%, 69%);

  h2 {
    font-size: 2rem;
    text-align: center;
  }
}

// @include media-query(desktop-medium) {
//   .MajorArcana {
//     border-radius: 1.25vw;
//   }

//   .Summary {
//     padding: 0.5vw 1.5vw;
//   }
// }

// @include media-query(tablet) {
//   .MajorArcana {
//     border-radius: 1.5vw;
//   }
// }

// @include media-query(mobile) {
//   .MajorArcana {
//     border-radius: 3vw;
//   }

//   .Title {
//     padding: 5vw;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//   }

//   .Summary {
//     padding: 1vw 5vw;
//   }
// }
