.MajorArcana {
    background: rgb(17, 17, 17);
    border: solid white 0.2vw;
    border-radius: 1vw;
    color: #e4a77b;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;
    width: 100%;
    
    font-size: var(--project-summary-title);
    overflow: auto;
}

.Title {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Summary {
    height: 50%;
    padding: .25vw 1.25vw;
    font-size: var(--project-summary-text);
    text-align: justify;
}

@media screen and (max-width: 1200px) {
    .MajorArcana {
        border-radius: 1.25vw;
    }

    .Summary {
        padding: .5vw 1.5vw;
    }    
}

@media screen and (max-width: 900px) {
    .MajorArcana {
        border-radius: 1.5vw;
    }

    .Title {
        height: 30%;
    }

    .Summary {
        height: 50%;
    }
}

@media screen and (max-width: 500px) {
    .MajorArcana {
        border-radius: 3vw;
    }

    .Title {
        height: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .Summary {
        height: 55%;
        padding: 1vw 5vw;
    }
}