@use '../../../scss/' as *;

.MajorArcanaDetails {
  border-color: hsl(25, 66%, 69%);
  border-style: solid;
  border-width: medium;

  background: linear-gradient(
      180deg,
      hsl(0, 0%, 7%, 20%),
      hsl(0, 0%, 7%, 40%),
      hsl(0, 0%, 7%, 60%),
      hsl(0, 0%, 7%, 80%),
      hsl(0, 0%, 7%, 100%)
    ),
    hsl(0, 0%, 18%);

  color: hsl(25, 66%, 69%);

  img {
    width: 25rem;
  }
 
  @include media-query-new(tablet-new) {
    border-radius: var(--popup-border-radius);
  }
}