@use '../../../scss/' as *;

.MajorArcana {
  @extend %project-summary;
  border-color: hsl(0, 0%, 100%);
  background: linear-gradient(
      180deg,
      hsl(0, 0%, 7%, 20%),
      hsl(0, 0%, 7%, 40%),
      hsl(0, 0%, 7%, 60%),
      hsl(0, 0%, 7%, 80%),
      hsl(0, 0%, 7%, 100%)
    ),
    hsl(0, 0%, 18%);
  color: hsl(25, 66%, 69%);
}

.Title {
  font-size: 1.25rem;
  text-align: center;
}

.Summary {
  // height: 50%;
  padding: 0.25vw 1.25vw;
  font-size: var(--project-summary-text);
  text-align: justify;
}

@include media-query(desktop-small) {
  .MajorArcana {
    border-radius: 1.25vw;
  }

  .Summary {
    padding: 0.5vw 1.5vw;
  }
}

@include media-query(tablet) {
  .MajorArcana {
    border-radius: 1.5vw;
  }

  .Title {
    // height: 30%;
  }

  .Summary {
    // height: 50%;
  }
}

@include media-query(mobile) {
  .MajorArcana {
    border-radius: 3vw;
  }

  .Title {
    // height: 30%;
    padding: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .Summary {
    // height: 50%;
    padding: 1vw 5vw;
  }
}
