.MajorArcana {
    background: rgb(17, 17, 17);
    border: solid white 0.2vw;
    border-radius: 1vw;
    color: #e4a77b;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;
    width: 100%;
    
    font-size: var(--project-summary-title);
    overflow: auto;
}

.Title {
    height: 25%;
    /* padding-top: .25vw; */
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    justify-content: center;
    /* border: dashed white 1px; */
}

.Summary {
    /* height: 55%;
    padding: 0vw 2vw;
    display: flex;
    align-items: center;
    font-size: var(--project-summary-text);
    text-align: justify; */
    height: 55%;
    padding: .25vw 1.25vw;
    display: flex;
    /* align-items: center; */
    font-size: var(--project-summary-text);
    text-align: justify;
    /* border: dashed white 1px; */
}

/* .ButtonContainer {
    height: 20%;
    border: dashed white 1px;
} */

.DetailsButton {
    background: lightcyan;
    border-radius: 1vw;
    padding: 0.25vw 0.5vw;
    font-size: var(--project-details-button);
}

@media screen and (max-width: 900px) {
    .MajorArcana {
        border-radius: 1.5vw;
    }

    .Title {
        height: 30%;
    }

    .Summary {
        height: 50%;
    }

    .ButtonContainer {
        display: flex;
        align-items: center;
        padding-bottom: 1vw;
    }
    
    .DetailsButton {
        border-radius: 1.5vw;
        padding: 0.3vw 0.75vw;
    }
}

@media screen and (max-width: 500px) {
    .MajorArcana {
        border-radius: 2vw;
    }

    .Title {
        height: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .Summary {
        height: 55%;
        padding: 1vw 5vw;
    }

    .ButtonContainer {
        height: 15%;
        align-items: flex-start;
    }

    .DetailsButton {
        border-radius: 3vw;
        padding: 0.5vw 1vw;
    }
}
