.MajorArcanaDetails {
    background: rgb(17, 17, 17);
    color: #E4A77B;

    border: medium solid white;
    border-radius: 1vw;
    height: 96vh;
    width: 60vw;
    padding: 2vw;

    position: absolute;
    top: 2%;
    left: 20%;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--main-font);
    text-align: center;

    overflow: auto;
}

.ProjectTitle {
    margin: 2vw;
    font-size: var(--project-details-title);
}

.ProjectTech {
    margin: 2vw;
    font-size: var(--project-details-tech);
    font-weight: bold;
}

.Test {
    overflow: auto;
}

.ProjectInfo {
    margin: 2vw;
    font-size: var(--project-details-text);
    text-align: justify;
}

.ProjectIcon {
    margin: 1vw;
    width: 20vw;
}

.ProjectLinks {
    margin: 2vw;
    font-size: var(--project-details-links);
    font-weight: 600;
    display: grid;
    grid-template-columns: 7fr 1fr 7fr;
    grid-template-rows: 1;
}

.Extension {
    text-align: right;
}

.GitHub {
    text-align: left;
}

.LinkText {
    padding: 0vw 1vw;
    color: #E4A77B;
}

.LinkText:hover {
    color: lightgray;
}

@media screen and (max-width: 1200px) {
    .MajorArcanaDetails {
        height: 97vh;
        padding: 3vw;
        top: 1.5%;
    }
}

@media screen and (max-width: 900px) {
    .MajorArcanaDetails {
        border-radius: 0;
        height: 100vh;
        width: 100vw;
        padding: 4vw;
        top: 0%;
        left: 0%;
    }

    .ProjectTitle,
    .ProjectTech,
    .ProjectInfo,
    .ProjectIcon,
    .ProjectLinks {
        margin: 4vw;
    }

    .ProjectTech {
        width: 90%;
    }

    .ProjectIcon {
        width: 40vw;
    }

    .LinkText {
        padding: 0vw 2vw;
    }
}

@media screen and (max-width: 500px) {
    .MajorArcanaDetails {
        padding: 5vw;
    }

    .ProjectTitle,
    .ProjectTech,
    .ProjectInfo,
    .ProjectIcon,
    .ProjectLinks {
        margin: 5vw;
    }

    .ProjectIcon {
        width: 60vw;
    }

    .LinkText {
        padding: 0vw 3vw;
    }
}