.Ocean {
  background: linear-gradient(90deg, var(--darkerblue), var(--lighterblue), var(--darkestblue), var(--middleblue), var(--lightestblue));
  background-blend-mode: soft-light;
  background-size: 400% 400%;

  animation: gradient 20s ease infinite;
  -moz-animation: gradient 20s ease infinite;
  -webkit-animation: gradient 20s ease infinite;

  height: 100vh;
  width: 100vw;

  border: 1vw solid var(--bordercolor);
}

@keyframes gradient {
  0% { background-position: 0 50%; }
  25% { background-position: 50% 0; }
  50% { background-position: 100% 50%; }
  75% { background-position: 50% 75%; }
  100% { background-position: 0 50%; }
}
  
@-moz-keyframes gradient {
  0% { background-position: 0 50%; }
  25% { background-position: 50% 0; }
  50% { background-position: 100% 50%; }
  75% { background-position: 50% 75%; }
  100% { background-position: 0 50%; }
}
  
@-webkit-keyframes gradient {
  0% { background-position: 0 50%; }
  25% { background-position: 50% 0; }
  50% { background-position: 100% 50%; }
  75% { background-position: 50% 75%; }
  100% { background-position: 0 50%; }
}

.OceanGrid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(7, 1fr);
  height: 100%;
}

.OceanGridName, .OceanGridTitle {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: var(--name-and-title);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.OceanGridName {
  grid-column: 5 / 9;
  grid-row: 1 / 2;
  justify-content: center;
}

.Name {
  font-size: 5vw;
  font-weight: bold;
}

.OceanGridTitle {
  grid-column: 5 / 9;
  grid-row: 2 / 3;
  justify-content: flex-start;
}

.Title {
  font-size: 2.35vw;
}

.Message {
  font-size: 2vw;
  font-weight: bold;
}

@media screen and (max-width: 900px) {
  .Ocean {
      

  }

  .CornerNW, .CornerNE, .CornerSW, .CornerSE {
    height: 4vw;
    width: 4vw;
    margin: -0.4vw;
  }

  .CornerNW {
    top: -1%;
    left: -0.8%;
  }

  .CornerNE {
    top: -1%;
    right: -0.8%;
  }

  .CornerSW {
    bottom: -1%;
    left: -0.8%;
  }

  .CornerSE {
    bottom: -1%;
    right: -0.8%;
  }

  .Name {
    font-size: 6vw;
  }

  .Title {
    font-size: 2.75vw;
  }

  .Message {
    font-size: 2.5vw;
    font-weight: bold;
  }
}

@media screen and (max-width: 500px) {
  .Ocean {
    border: 1.5vw solid var(--bordercolor);
  }
    
  .CornerNW, .CornerNE, .CornerSW, .CornerSE {
    height: 5vw;
    width: 5vw;
  }

  .CornerNW {
    top: -1.5%;
  }

  .CornerNE {
    top: -1.5%;
  }

  .CornerSW {
    bottom: -1.5%;
  }

  .CornerSE {
    bottom: -1.5%;
  }

  .Name {
    font-size: 7vw;
  }

  .Title {
    font-size: 3.25vw;
  }
}
