.Ocean {
  background: linear-gradient(90deg, var(--darkerblue), var(--lighterblue), var(--darkestblue), var(--middleblue), var(--lightestblue));
  background-blend-mode: soft-light;
  background-size: 400% 400%;

  animation: gradient 20s ease infinite;
  -moz-animation: gradient 20s ease infinite;
  -webkit-animation: gradient 20s ease infinite;

  height: 100vh;
  width: 100vw;

  border: 1vw solid var(--bordercolor);
}

@keyframes gradient {
  0% { background-position: 0 50%; }
  25% { background-position: 50% 0; }
  50% { background-position: 100% 50%; }
  75% { background-position: 50% 75%; }
  100% { background-position: 0 50%; }
}
  
@-moz-keyframes gradient {
  0% { background-position: 0 50%; }
  25% { background-position: 50% 0; }
  50% { background-position: 100% 50%; }
  75% { background-position: 50% 75%; }
  100% { background-position: 0 50%; }
}
  
@-webkit-keyframes gradient {
  0% { background-position: 0 50%; }
  25% { background-position: 50% 0; }
  50% { background-position: 100% 50%; }
  75% { background-position: 50% 75%; }
  100% { background-position: 0 50%; }
}

.OceanGrid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 1fr);
  height: 100%;
}

.OceanGridItem {
  border: 1px solid black;
}

.OceanGridHeader, .OceanGridMessage {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: gold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.OceanGridHeader {
  grid-column: 4 / 10;
  grid-row: 1 / 3;
}

.Name {
  font-size: 5vw;
  font-weight: bold;
}

.Title {
  font-size: 2.35vw;
  font-weight: 100;
}

@media screen and (max-width: 900px) {
  .OceanGrid {
    grid-template-rows: repeat(12, 1fr);
  }
  

  .Name {
    font-size: 7vw;
  }

  .Title {
    font-size: 3vw;
  }

  .CornerNW, .CornerNE, .CornerSW, .CornerSE {
    height: 4vw;
    width: 4vw;
    margin: -0.4vw;
  }

  .CornerNW {
    top: -1%;
    left: -0.8%;
  }

  .CornerNE {
    top: -1%;
    right: -0.8%;
  }

  .CornerSW {
    bottom: -1%;
    left: -0.8%;
  }

  .CornerSE {
    bottom: -1%;
    right: -0.8%;
  }
}


@media screen and (max-width: 500px) {
  .Ocean {
    border: 1.5vw solid var(--bordercolor);
  }

  .OceanGrid {
    grid-template-rows: repeat(24, 1fr);
  }

  .OceanGridHeader {
  grid-column: 1 / 13;
  grid-row: 1 / 4;
  }

  .Name {
    font-size: 12vw;
    margin: 1vw;
  }

  .Title {
    font-size: 5.5vw;
  }

  .CornerNW, .CornerNE, .CornerSW, .CornerSE {
    height: 5vw;
    width: 5vw;
  }

  .CornerNW {
    top: -1.5%;
  }

  .CornerNE {
    top: -1.5%;
  }

  .CornerSW {
    bottom: -1.5%;
  }

  .CornerSE {
    bottom: -1.5%;
  }
}