.EbbDetails {
    background: linear-gradient(0deg, rgba(55, 87, 149, 0.2), rgba(55, 87, 149, 0.2)), linear-gradient(0deg, #121212, #121212);
    color: #F3F3F3;

    border: medium solid white;
    border-radius: 1vw;
    height: 96vh;
    width: 60vw;
    padding: 2vw;

    position: absolute;
    top: 2%;
    left: 20%;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: var(--main-font);
    text-align: center;

    overflow: auto;
}

.ProjectTitle {
    margin: 2vw;
    font-size: var(--project-details-title);
}

.ProjectTech {
    margin: 2vw;
    font-size: var(--project-details-tech);
    font-weight: bold;
}

.ProjectInfo {
    margin: 2vw;
    font-size: var(--project-details-text);
    text-align: justify;
}

.ProjectIcon {
    margin: 2vw;
    width: 15vw;
}

.ProjectLinks {
    margin: 2vw;
    font-size: var(--project-details-links);
    font-weight: 600;
    display: grid;
    grid-template-columns: 7fr 1fr 6fr 1fr 7fr;
    grid-template-rows: 1;
}

.Extension {
    text-align: right;
}

.Demo {
    text-align: center;
}

.GitHub {
    text-align: left;
}

.LinkText {
    padding: 0vw 1vw;
    color: white;
}

.LinkText:hover {
    color: #C4C1C1;
}

@media screen and (max-width: 1200px) {
    .EbbDetails {
        height: 97vh;
        padding: 3vw;
        top: 1.5%;
    }
}

@media screen and (max-width: 900px) {
    .EbbDetails {
        border-radius: 0;
        height: 100vh;
        width: 100vw;
        padding: 4vw;
        top: 0%;
        left: 0%;
    }

    .ProjectTitle,
    .ProjectTech,
    .ProjectInfo,
    .ProjectLinks,
    .ProjectIcon {
        margin: 4vw;
    }

    .ProjectTech {
        width: 90%;
    }

    .ProjectIcon {
        width: 30vw;
    }

    .LinkText {
        padding: 0vw 2vw;
    }
}

@media screen and (max-width: 500px) {
    .EbbDetails {
        padding: 5vw;
    }

    .ProjectTitle,
    .ProjectTech,
    .ProjectInfo,
    .ProjectLinks,
    .ProjectIcon {
        margin: 5vw;
    }

    .ProjectIcon {
        width: 45vw;
    }

    .Extension {
        padding-right: 1.5vw;
    }

    .GitHub {
        padding-left: 1.5vw;
    }

    .LinkText {
        padding: 0vw 1vw;
    }
}