@use '../../../scss/' as *;

.EbbDetails {
  color: #f3f3f3;
  border-color: inherit;
  border-width: medium;
  border-style: solid;

  background: linear-gradient(
      0deg,
      rgba(55, 87, 149, 0.2),
      rgba(55, 87, 149, 0.22),
      rgba(55, 87, 149, 0.42),
      rgba(55, 87, 149, 0.62),
      rgba(55, 87, 149, 0.82)
    ),
    rgb(18, 18, 18);  

  @include media-query-new(tablet-new) {
    border-radius: var(--popup-border-radius);
  }
}
