@use '../../scss/' as *;

.MapDetails {
  height: 100%;
  overflow: auto;
  padding-block: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: var(--continent-font-bold);
  font-size: var(--map-title);

  p {
    margin-bottom: 1rem;
  }

  img {
    border-radius: 1.75rem;
    width: 90%;
  }
}
