.MapTallDetails {
    background: var(--continent);
    border: medium solid black;
    border-radius: 2vw;
    height: 96vh;
    width: 60vw;
    padding: 2vw;
    position: absolute;
    top: 2%;
    left: 20%;
    z-index: 1;
    overflow: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--map-title);
}

.MapTall {
    border-radius: 1vw;
    margin-top: 1vw;
    height: 90%;
}

@media screen and (max-width: 1200px) {
    .MapTallDetails {
        border-radius: 2vw;
        top: 1.5%;
        height: 97vh;
    }

    .MapTall {
        border-radius: 1.25vw;
    }
}

@media screen and (max-width: 900px) {
    .MapTallDetails {
        border-radius: 0;
        padding: 10vw 4vw;
        top: 0%;
        left: 0%;
        height: 100vh;
        width: 100vw;
    }

    .MapTall {
        border-radius: 1.75vw;
        margin-top: 4vw;
    }
}

@media screen and (max-width: 500px) {
    .MapTallDetails {
        padding-top: 15vw;
    }

    .MapTall {
        border-radius: 2vw;
        margin-top: 10vw;
        height: 65%;
    }
}