@use '../../scss/' as *;

.ClosePopup {
  background: black;
  border-radius: 50%;
  padding: 0.15vw 0.45vw;

  position: absolute;
  top: 1vw;
  left: 56.5vw;

  color: white;
  font-size: 1.25vw;
}

@include media-query(desktop-small) {
  .ClosePopup {
    padding: 0.2vw 0.5vw;
  }
}

@media screen and (max-width: 900px) {
  .ClosePopup {
    padding: 0.5vw 1.2vw;
    top: 2vw;
    left: 93vw;
    font-size: 3vw;
  }
}

@media screen and (max-width: 900px) and (orientation: landscape) {
  .ClosePopup {
    top: 0.25vw;
    left: 95vw;
    font-size: 2vw;
    padding: 0.5vw 1vw;
  }
}

@include media-query(mobile) {
  .ClosePopup {
    padding: 0.75vw 1.8vw;
    top: 2vw;
    left: 89vw;
    font-size: 4.5vw;
  }
}
