@use '../../scss/' as *;

.ClosePopup {
  background: black;
  border-radius: 50%;
  padding: 0.15vw 0.45vw;
  padding: 0.25rem 0.5rem;

  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  z-index: 2;

  color: hsl(0, 0%, 100%, 75%);
  font-size: 1.25rem;

  @include media-query(mobile) {
    font-size: 1.1rem;
  }
}
