@use '../../scss/' as *;

.OpenDetails {
  background-color: hsl(180, 100%, 95%);
  border-radius: inherit;
  border: 0.1rem solid black;
  
  margin-top: 0.5rem;
  padding: 0.25rem 0.5rem;

  color: hsl(0, 0%, 0%);
  font-size: var(--project-summary-button-text);

  &:hover {
    cursor: pointer;
  }
}
