.BeHumanDetails {
    background: #9cc4d7;

    border: .3vw solid darkblue;
    border-radius: 1vw;
    padding: 1vw 2vw;

    position: absolute;
    top: 33%;
    left: 23%;
    z-index: 2;

    height: 55vh;
    width: 55vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    font-size: 1.5vw;
    text-align: center;

    overflow: auto;
}


.ProjectTech {
    font-size: 1.5vw;
    font-weight: bold;
    margin: 1vw;
}

.ProjectInfo {
    font-size: 1.3vw;
    text-align: justify;
}

.ProjectLinks {
    display: flex;
    align-items: center;
    margin-right: 1.4vw;
    font-size: 1.5vw;

    border: dotted 2px pink;
    height: 45vh;
}

.ProjectIcon {
    border: 0.2vw solid black;
    border-radius: 50%;
    margin: 1vw;

    height: 10vw;
}

.CloseButton {
    background: lightcyan;
    border-radius: 50%;
    margin: 1vw;
    padding: .25vw;
    width: max-content;
    font-size: 1.25vw;
}






@media screen and (max-width: 800px) and (orientation: portrait) {
    .BeHumanDetails {
        transform: rotate(-90deg);
        top: 33%;
        left: 20%;
        height: 45vw;
        width: 40vh;

        background: darkgray;
    }
}

@media screen and (max-width: 700px) and (orientation: landscape) {
    .BeHumanDetails {
        top: 15%;
        height: 35vw;
        width: 54vw;

        background: darkslategray;
    }
}

@media screen and (max-width: 900px) and (orientation: landscape) {
    .BeHumanDetails {
        top: 15%;
        height: 35vw;
        width: 54vw;

        background: darkslategray;
    }
}




@media screen and (max-width: 500px) and (orientation: portrait) {
    .BeHumanDetails {
        top: 34%;
        left: 10%;
        height: 60vw;

        background: lightyellow;

        
    }
}

@media screen and (max-width: 500px) and (orientation: landscape) {
    .BeHumanDetails {
        top: 38%;
        left: 10%;
        height: 50vw;
        height: 55vw;

        background: goldenrod;
    }
}






@media screen and (max-width: 900px) {
    .BeHumanDetails {
        font-size: 2vw;
    }
    
    .ProjectTech {
        width: 80%;
        font-size: 1.75vw;
    }
    
    .ProjectInfo {
        margin: 1vw;
        font-size: 1.5vw;
        background: lightgray;
    }
}


@media screen and (max-width: 500px) {
    .BeHumanDetails {
        font-size: 2vw;
    }
    
    .ProjectTech {
        width: 80%;
        font-size: 1.75vw;

        font-size: 2.25vw;
    }
    
    .ProjectInfo {
        margin: 1vw;
        font-size: 1.5vw;

        font-size: 3vw;
        background: lightgreen;
    }

    .CloseButton {
        background: lightcyan;
        border-radius: 50%;
        margin: 1vw;
        padding: .25vw;
        width: max-content;
        font-size: 1.25vw;
        
        margin: 2vw;
    }
    
}

