.BeHumanDetails {
    background: #9cc4d7;

    border: .25vw solid darkblue;
    border-radius: 1vw;
    padding: 1vw 2vw;

    position: absolute;
    top: 33%;
    left: 23%;
    z-index: 1;

    height: 55%;
    width: 54%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    text-align: center;

    overflow: auto;
}


.ProjectTech {
    font-size: 1.5vw;
    font-weight: bold;
    margin: 1vw;
}

.ProjectInfo {
    font-size: 1.5vw;
    text-align: justify;
}

.ProjectLinks {
    display: flex;
    align-items: center;
    margin-right: 1.4vw;
    font-size: 1.5vw;
}

.ProjectIcon {
    border: 0.2vw solid black;
    border-radius: 50%;
    margin: 1vw;
    width: 10vw;
}

.CloseButton {
    background: lightcyan;
    border-radius: 50%;
    margin: 1vw;
    padding: .25vw;
    width: max-content;
    font-size: 1.25vw;
}

@media screen and (max-width: 900px) {
    .BeHumanDetails {
        height: 35vw;
        width: 40vh;
    }
}

@media screen and (max-width: 500px) {
    .BeHumanDetails {
        top: 30%;
        left: 4%;
        height: 45vh;
        width: 92vw;
    }

    .ProjectTech {
        width: 75%;
        font-size: 3.5vw;
        font-weight: bold;
    }
    
    .ProjectInfo {
        margin: 2vw;
        font-size: 3.5vw;
        text-align: justify;
    }

    .ProjectLinks {
        margin-right: 3.5vw;
        font-size: 4vw;
        font-weight: 600;
    }

    .CloseButton {
        margin: 2vw;
        padding: 0.5vw;
        font-size: 3.25vw;
    }
}
