@use '../../../scss/' as *;

.BeHumanDetails {
  border-color: hsl(0, 0%, 0%);

  background: linear-gradient(
      180deg,
      hsl(199, 42%, 73%, 100%),
      hsl(199, 42%, 73%, 80%),
      hsl(199, 42%, 73%, 60%),
      hsl(199, 42%, 73%, 40%),
      hsl(199, 42%, 73%, 20%)
    ),
    hsl(199, 42%, 45%);

  color: hsl(0, 0%, 0%);

  @extend %project-details;

  img {
    border: 0.15rem solid black;
    border-radius: 50%;
    width: 12rem;
    margin-top: 1.5rem;
  }

  height: calc(100% - var(--border-width) * 2);
  width: calc(100% - var(--border-width) * 2);

  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);

  & p {
    line-height: 1.25;
  }
  
  @include media-query-new(desktop-small-new) {
    border-color: inherit;
    border-radius: var(--popup-border-radius);
    border-style: solid;
    border-width: medium;

    height: 95%;
    width: 50%;
    max-width: 50rem;
  }

  @include media-query-new(desktop-large-new) {
    max-width: 70rem;
  }
}
