@use '../../../scss/' as *;

.BeHuman {
  background: hsl(199, 42%, 73%);

  @extend %project-summary;
  border-color: hsl(0, 0%, 0%);
  background: linear-gradient(
      180deg,
      hsl(199, 42%, 73%, 100%),
      hsl(199, 42%, 73%, 80%),
      hsl(199, 42%, 73%, 60%),
      hsl(199, 42%, 73%, 40%),
      hsl(199, 42%, 73%, 20%)
    ),
    hsl(199, 42%, 45%);
  color: hsl(0, 0%, 0%);
}

.Title {
  // height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Summary {
  // height: 55%;
  padding: 0.5vw 1.25vw;
  display: flex;
  flex-direction: column;
  font-size: var(--project-summary-text);
  text-align: justify;
}

@include media-query(desktop-small) {
  .BeHuman {
    border-radius: 1.25vw;
  }

  .Summary {
    padding: 0.5vw 1.5vw;
  }
}

@include media-query(tablet) {
  .BeHuman {
    border-radius: 1.5vw;
  }

  .Title {
    // height: 25%;
  }

  .Summary {
    // height: 55%;
  }
}

@include media-query(mobile) {
  .BeHuman {
    border-radius: 3vw;
  }

  .Title {
    // height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .Summary {
    // height: 55%;
    padding: 1vw 5vw;
  }
}
