.BeHuman {
    background: #9cc4d7;
    border: solid black 0.2vw;
    border-radius: 1vw;

    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;
    width: 100%;

    font-size: var(--project-summary-title);
    overflow: auto;
}

.Title {
    height: 25%;
    /* padding: 1.5vw 0; */

    display: flex;
    flex-direction: column;
    /* align-content: center; */
    justify-content: center;
    /* border: dashed black 1px; */
}

.Summary {
    height: 55%;
    padding: .5vw 1.25vw;
    display: flex;
    /* align-items: center; */
    /* align-items: flex-start; */
    font-size: var(--project-summary-text);
    text-align: justify;
    /* border: dashed black 1px; */
}

.ButtonContainer {
    height: 20%;
}

.DetailsButton {
    background: lightcyan;
    border-radius: 1vw;
    padding: 0.25vw 0.5vw;
    width: fit-content;
    font-size: var(--project-details-button);
}

@media screen and (max-width: 900px) {
    .BeHuman {
        border-radius: 1.5vw;
    }

    .Title {
        height: 25%;
    }

    .Summary {
        height: 55%;
    }

    .ButtonContainer {
        display: flex;
        align-items: center;
    }
    
    .DetailsButton {
        border-radius: 1.5vw;
        padding: 0.3vw 0.75vw;
    }
}

@media screen and (max-width: 500px) {
    .BeHuman {
        border-radius: 2vw;
    }

    .Title {
        height: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .Summary {
        height: 55%;
        padding: 1vw 5vw;
    }

    .ButtonContainer {
        height: 15%;
        align-items: flex-start;
    }

    .DetailsButton {
        border-radius: 3vw;
        padding: 0.5vw 1vw;
    }
}
