.BeHumanDetails {
    background: #9cc4d7;

    border: .25vw solid darkblue;
    border-radius: 1vw;
    padding: 1vw 2vw;

    position: absolute;
    top: 33%;
    left: 23%;
    z-index: 1;

    height: 55%;
    width: 54%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    overflow: auto;
}


.ProjectTech {
    font-size: 1.5vw;
    font-weight: bold;
    margin: 1vw;
}

.ProjectInfo {
    font-size: 1.5vw;
    text-align: justify;
    
    margin: 1vw;
    border: 2px dashed yellow;

    overflow: auto;
}

.ProjectLinks {
    display: flex;
    align-items: center;
    margin-right: 1.4vw;
    font-size: 1.5vw;

    border: 1px solid black;
    
}

.ProjectIcon {
    border: 0.2vw solid black;
    border-radius: 50%;
    margin: 1vw;
    width: 10vw;

    border: 2px dotted pink;
}

.CloseButton {
    background: lightcyan;
    border-radius: 50%;
    margin: 1vw;
    padding: .25vw;
    width: max-content;
    font-size: 1.25vw;
}

@media screen and (max-width: 900px) and (orientation: portrait) {
    .BeHumanDetails {
        transform: rotate(-90deg);
        top: 35%;
        left: 20%;
        height: 35vw;
        width: 40vh;

        -webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
    }

    .ProjectLinks {
        height: 140px;
    }
}

@media screen and (max-width: 500px) and (orientation: portrait) {
    .BeHumanDetails {
        top: 40%;
        left: 10%;
        height: 45vw;
        width: 40vh;
    }
}
