@use '../../scss/' as *;

.Continent {
  // OUTER COASTLINE
  @extend %coastal-shadow-and-waves;
  
  // TRANSFORMS ON FOCUS AND HOVER
  @extend %half-second-transition;

  &:focus-within {
    transform: scale(1.075);
  }
  
  // RESTRICT TRANSFORM TO DEVICES THAT HOVER
  @media (hover: hover) and (pointer: fine) {
    &:hover:has(div) {
      transform: scale(1.075);
    }
  }
  
  div {
    // INNER COASTLINE
    @extend %inner-coastline;

    div {
      // LAND
      @extend %continent;
      padding: 0.5rem 1rem;

      // CONTINENT FONT SIZE FOR TITLE
      --continent-title: clamp(2.25rem, 8vw, 5rem);
      font-size: var(--continent-title);
      
      @include media-query-landscape-mobile {
        // --continent-title: 1.5rem;
      }

      @include media-query-new(tablet-new) {
        // padding: 0.8rem 1.2rem;
      }

      @include media-query-new(desktop-medium-new) {
        // padding: 1.25rem 2rem;
      }
    }
  }  
}


@media (prefers-reduced-motion: reduce) {
  .Continent:focus-within {
    transform: none;

    .OuterCoastline {
      box-shadow: 0 0 1vw 0.75vw var(--focus-hover-highlight);
    }
  }

  .OuterCoastline:hover {
    transform: none;
    box-shadow: 0 0 1vw 0.75vw var(--focus-hover-highlight);
  }

  .OuterCoastline {
    animation: none;
  }
}

// media queries:
// @include media-query-new(tablet-new) {
// @include media-query-new(desktop-small-new) {
// @include media-query-new(desktop-medium-new) {
// @media (prefers-reduced-motion: reduce) {