@use '../../scss/' as *;

.ContinentPopUp {
  background: var(--continent);
  border: medium solid black;
  border-radius: 1.75rem;
  height: 95%;
  width: 65%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  font-family: var(--main-font);

  transform: translate(-50%, -50%);

  background: linear-gradient(
      180deg,
      hsla(45, 34%, 82%),
      hsla(45, 34%, 82%, 90%),
      hsl(45, 51%, 72%, 80%),
      hsl(45, 51%, 72%, 70%),
      hsl(45, 51%, 72%, 60%)
    ),
    hsl(45, 0%, 42%);

  @include media-query(tablet) {
    border-radius: 0;
    height: 100%;
    width: 100%;
  }
}
