@use '../../scss/' as *;


/* 
media-query-new($key)

tablet-new: 35rem,
  // 560px
desktop-small-new: 56.25rem,
  // 900px
desktop-medium-new: 70rem,
  // 1120px
desktop-large-new: 85rem,
  // 1360px
*/

.PopUp {
  background: var(--popup-bkgd);

  height: calc(100% - var(--border-width) * 2);
  width: calc(100% - var(--border-width) * 2);

  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  
  color: var(--popup-text-color);
  font-family: var(--main-font);

  & p {
    line-height: 1.25;
  }

  @include media-query-new(tablet-new) {

  }
  
  @include media-query-new(desktop-small-new) {
    border-color: inherit;
    border-style: solid;
    border-radius: 1.75rem;
    border-width: medium;

    height: 95%;
    width: 70%;
    max-width: 80rem;
  }

  // @include media-query(desktop-small) {
  //   width: 75%;
  // }

  // @include media-query(tablet) {
  //   border-radius: 0;
  //   border-color: transparent;
  //   border: none;

  //   height: calc(100% - var(--border-width) * 2);
  //   width: calc(100% - var(--border-width) * 2);
  // }
}

