@use '../../scss/' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Tangerine';
  src: url(../../fonts/tangerine/Tangerine_Regular.ttf);
}

@font-face {
  font-family: 'Tangerine Bold';
  src: url(../../fonts/tangerine/Tangerine_Bold.ttf);
}

:root {
  --bordercolor-one: rgb(126, 96, 18);
  --bordercolor-two: rgb(200, 200, 1);

  --lightestblue: rgb(21, 103, 209);
  --lighterblue: rgb(29, 46, 201);
  --middleblue: rgb(46, 29, 204);
  --darkerblue: rgb(36, 17, 146);
  --darkestblue: rgb(41, 17, 129);

  --yellow-one: rgb(245, 245, 80);
  --yellow-two: rgb(245, 245, 148);
  --yellow-three: rgb(245, 245, 120);
  --yellow-four: rgb(248, 248, 93);
  --yellow-five: rgb(245, 245, 148);

  --coastline-box-shadow: 0vw 0vw 2vw 1.5vw;
  --coastline-shadow-color: darkblue;
  --outer-coastline: rgb(87, 171, 223);
  --outer-coastline-padding: 0.75vw;
  --inner-coastline-border-width: 0.15vw;
  --inner-coastline: rgb(111, 186, 233);
  --inner-coastline-padding: 1vw;
  --continent-border: brown;
  --continent: rgb(210, 171, 120);
  --continent-padding: 1vw;
  --continent-font: 'Tangerine';
  --continent-font-bold: 'Tangerine Bold';
  --main-font: Arial, sans-serif;

  --popup-title: 3.25vw;
  --popup-header-text: 1.35rem;
  --popup-text: 1.1rem;

  --project-summary-title: 1.25vw;
  --project-summary-text: 1.25vw;
  --project-summary-button-text: 1vw;

  --project-details-title: 3vw;
  --project-details-tech: 1.75vw;
  --project-details-text: 1.45vw;
  --project-details-links: 1.5vw;

  --map-title: 5vw;

  --focus-hover-highlight: yellow;
}

a {
  color: rgba(15, 24, 6, 0.8);
  text-decoration: none;
  outline: none;
  border-radius: inherit;
}

a:hover {
  color: var(--darkestblue);
}

@include media-query(desktop-small) {
  :root {
    --popup-title: 3.5vw;
    --popup-header-text: 1.75vw;
    --popup-text: 1.5vw;

    --project-summary-title: 1.5vw;
    --project-summary-text: 1.5vw;
    --project-summary-button-text: 1.25vw;

    --project-details-title: 3.5vw;
    --project-details-tech: 2vw;
    --project-details-text: 1.7vw;
    --project-details-links: 1.75vw;

    --map-title: 5.5vw;
  }
}

@include media-query(tablet) {
  :root {
    --outer-coastline-padding: 1vw;
    --inner-coastline-border-width: 0.3vw;
    --inner-coastline-padding: 1.25vw;

    --popup-title: 6vw;
    --popup-header-text: 3vw;
    --popup-text: 2.75vw;

    --project-summary-title: 3.25vw;
    --project-summary-text: 2.5vw;
    --project-summary-button-text: 2.25vw;

    --project-details-title: 7.75vw;
    --project-details-tech: 4.35vw;
    --project-details-text: 3.5vw;
    --project-details-links: 3.75vw;

    --map-title: 15vw;
  }
}

@include media-maxWidth-orientation(tablet, landscape) {
  :root {
    --popup-title: 3.5vw;
    --popup-header-text: 2.25vw;
    --popup-text: 2vw;
  }
}

@include media-query(mobile) {
  :root {
    --outer-coastline-padding: 1.25vw;
    --inner-coastline-border-width: 0.3vw;

    --popup-title: 8vw;
    --popup-header-text: 3.4vw;
    --popup-text: 3.75vw;

    --project-summary-title: 5.25vw;
    --project-summary-text: 5vw;
    --project-summary-button-text: 4vw;

    --project-details-title: 10vw;
    --project-details-tech: 5vw;
    --project-details-text: 5vw;
    --project-details-links: 5vw;

    --map-title: 9vw;
  }
}
