* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Tangerine';
  src: url(../../fonts/tangerine/Tangerine_Regular.ttf);
}

@font-face {
  font-family: 'Tangerine Bold';
  src: url(../../fonts/tangerine/Tangerine_Bold.ttf);
}

:root {
  --bordercolor: goldenrod;

  --darkestblue: rgb(41, 17, 129);
  --darkerblue: rgb(36, 17, 146);
  --middleblue: rgb(46, 29, 204);
  --lighterblue: rgb(29, 46, 201);
  --lightestblue: rgb(21, 103, 209);

  --coastline-box-shadow: 0vw 0vw 2vw 1.5vw;
  --coastline-shadow-color: darkblue;
  --outer-coastline: rgb(87, 171, 223);
  --outer-coastline-padding: 0.75vw;
  --inner-coastline-border-width: 0.15vw;
  --inner-coastline: rgb(111, 186, 233);
  --inner-coastline-padding: 1vw;
  --continent-border: brown;
  --continent: tan;
  --continent-padding: 1vw;
  --continent-font: 'Tangerine';
  --continent-font-bold: 'Tangerine Bold';
  --main-font: Arial, sans-serif;

  --popup-title: 3.25vw;
  --popup-header-text: 1.5vw;
  --popup-text: 1.3vw;

  --project-summary-title: 1.25vw;
  --project-summary-text: 1.25vw;
  --project-summary-button-text: 1vw;

  --project-details-title: 3vw;
  --project-details-tech: 1.5vw;
  --project-details-text: 1.45vw;
  --project-details-links: 1.5vw;

  --map-title: 3vw;
}

article {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
  color: rgba(15, 24, 6, 0.8);
  text-decoration: none;
}

a:hover {
  color: var(--darkestblue);
}

@media screen and (max-width: 1200px) {
  :root {
    --popup-title: 3.5vw;
    --popup-header-text: 1.75vw;
    --popup-text: 1.5vw;

    --project-summary-title: 1.5vw;
    --project-summary-text: 1.5vw;
    --project-summary-button-text: 1.25vw;

    --project-details-title: 3.5vw;
    --project-details-tech: 1.75vw;
    --project-details-text: 1.7vw;
    --project-details-links: 1.75vw;

    --map-title: 3.5vw;
  }
}

@media screen and (max-width: 900px) {
  :root {
    --outer-coastline-padding: 1vw;
    --inner-coastline-border-width: 0.3vw;
    --inner-coastline-padding: 1.25vw;

    --popup-title: 6vw;
    --popup-header-text: 3vw;
    --popup-text: 2.75vw;

    --project-summary-title: 3.25vw;
    --project-summary-text: 2.75vw;
    --project-summary-button-text: 2.25vw;

    --project-details-title: 8vw;
    --project-details-tech: 3.75vw;
    --project-details-text: 3.5vw;
    --project-details-links: 3.75vw;

    --map-title: 7vw;
  }
}

@media screen and (max-width: 500px) {
  :root {
    --outer-coastline-padding: 1.25vw;
    --inner-coastline-border-width: 0.3vw;

    --popup-title: 8vw;
    --popup-header-text: 3.4vw;
    --popup-text: 3.75vw;
  
    --project-summary-title: 5.25vw;
    --project-summary-text: 5vw;
    --project-summary-button-text: 4vw;

    --project-details-title: 10vw;
    --project-details-tech: 5vw;
    --project-details-text: 5vw;
    --project-details-links: 5vw;

    --map-title: 9vw;
  }
}