.ProjectLinks {
  margin-top: 1vw;
  font-size: var(--project-details-links);
  font-weight: 600;
  display: grid;
  grid-template-columns: 9fr 1fr 9fr;
  grid-template-rows: 1;

  span:first-child {
    text-align: right;
  }
  span:last-child {
    text-align: left;
  }

  span > a {
    padding: 0vw 1vw;
    color: hsl(0, 0%, 0%);

    &:hover {
      color: hsl(0, 0%, 25%);
    }
  }
}
