@use '../../../scss/' as *;

.RootRPGDetails {
  color: hsl(0, 0%, 0%);
  border-color: inherit;
  border-width: medium;
  border-style: solid;

  background: linear-gradient(
      180deg,
      hsl(23, 63%, 55%, 100%),
      hsl(23, 63%, 55%, 80%),
      hsl(23, 63%, 55%, 60%),
      hsl(23, 63%, 55%, 40%),
      hsl(23, 63%, 55%, 20%)
    ),
    hsl(23, 63%, 38%);

  & > h4 {
    position: relative;

    &::before {
      content: 'NextJS';
      position: absolute;
      left: -6.25rem;
    }
    &::after {
      content: 'Sass';
      position: absolute;
      left: 1rem;
    }
  }

  @include media-query-new(tablet-new) {
    border-radius: var(--popup-border-radius);
  }
}