@use '../../../scss/' as *;

.RootRPGDetails {
  // opacity: 75%;


  border-color: hsl(0, 0%, 0%);

  background: linear-gradient(
      180deg,
      hsl(23, 63%, 55%, 100%),
      hsl(23, 63%, 55%, 80%),
      hsl(23, 63%, 55%, 60%),
      hsl(23, 63%, 55%, 40%),
      hsl(23, 63%, 55%, 20%)
    ),
    hsl(23, 63%, 38%);

  color: hsl(0, 0%, 0%);

  // @extend %project-details;

  
    h4 {
      position: relative;

      &::before {
        content: 'NextJS';
        position: absolute;
        left: -6.25rem;
      }
      &::after {
        content: 'Sass';
        position: absolute;
        left: 1rem;
      }
    }
  


  // height: calc(100% - var(--border-width) * 2);
  // width: calc(100% - var(--border-width) * 2);

  & p {
    // line-height: 1.25;
  }
  
  @include media-query-new(desktop-small-new) {
    // border-color: inherit;
    // border-radius: var(--popup-border-radius);
    // border-style: solid;
    // border-width: medium;

    // height: 95%;
    // width: 75%;
    // max-width: 50rem;
  }
  
  @include media-query-new(desktop-medium-new) {
    // width: 50%;
  }
}
