@use '../../../scss/' as *;

.RootRPGDetails {
  border: solid medium hsl(0, 0%, 0%);
  color: hsl(0, 0%, 0%);

  border-radius: 1rem;
  height: 96vh;
  width: 60vw;

  position: absolute;
  top: 2%;
  left: 20%;
  z-index: 1;

  font-family: var(--main-font);
  text-align: center;

  display: flex;
  flex-direction: column;

  a {
    color: hsl(0, 0%, 0%);
  }

  border-color: hsl(0, 0%, 0%);
  background: linear-gradient(
      180deg,
      hsl(23, 63%, 55%, 100%),
      hsl(23, 63%, 55%, 80%),
      hsl(23, 63%, 55%, 60%),
      hsl(23, 63%, 55%, 40%),
      hsl(23, 63%, 55%, 20%)
    ),
    hsl(23, 63%, 38%);
  color: hsl(0, 0%, 0%);
}

.Project {
  padding: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.ProjectTitle {
  margin: 2vw 0 1vw 0;
  font-size: var(--project-details-title);
}

.ProjectTech {
  margin: 1vw 2vw;
  font-size: var(--project-details-tech);
}

.ProjectInfo {
  margin: 1vw 2vw;
  font-size: var(--project-details-text);
  text-align: justify;
}

.ProjectIcon {
  width: 20vw;
  margin: 1vw;
}

@include media-query(desktop-medium) {
  .RootRPGDetails {
    height: 97vh;
    top: 1.5%;
  }

  .Project {
    padding: 3vw 2vw 0 2vw;
  }

  .ProjectIcon {
    width: 16vw;
    margin-top: 2.5vw;
  }
}

@include media-query(tablet) {
  .RootRPGDetails {
    border-radius: 0;
    height: 100vh;
    width: 100vw;
    top: 0%;
    left: 0%;
  }

  .Project {
    padding: 6vw 4vw;
  }

  .ProjectTitle {
    margin: 3vw 0 1.5vw 0;
  }

  .ProjectTech {
    margin: 1.5vw;
  }

  .ProjectInfo {
    margin: 1.5vw 3vw;
  }

  .ProjectIcon {
    width: 40vw;
    margin-top: 5vw;
  }
}

@include media-query(mobile) {
  .Project {
    padding: 8vw 6vw 0 6vw;
  }

  .ProjectTitle {
    margin: 4vw 0 2vw 0;
  }

  .ProjectTech {
    margin: 2vw;
  }

  .ProjectInfo {
    margin: 2vw 4vw;
  }

  .ProjectIcon {
    width: 50vw;
  }
}
