@use '../../../scss/' as *;

.RootRPG {
  @extend %project-summary;

  border-color: hsl(0, 0%, 0%);

  background: linear-gradient(
      180deg,
      hsl(23, 63%, 55%, 100%),
      hsl(23, 63%, 55%, 80%),
      hsl(23, 63%, 55%, 60%),
      hsl(23, 63%, 55%, 40%),
      hsl(23, 63%, 55%, 20%)
    ),
    hsl(23, 63%, 38%);

  color: hsl(0, 0%, 0%);
}
