@use '../scss/' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  min-width: 350px;
}

// @font-face {
//   font-family: 'Tangerine';
//   src: url(../fonts/tangerine/Tangerine_Regular.ttf);
// }

@font-face {
  font-family: 'Tangerine Bold';
  src: url(../fonts/tangerine/Tangerine_Bold.ttf);
}

:root {
  
  --lightest-blue: hsl(214, 82%, 45%);
  --lighter-blue: hsl(234, 75%, 45%);
  --middleblue: hsl(246, 75%, 46%);
  --darker-blue: hsl(253, 77%, 29%);
  --darkest-blue: hsl(240, 60%, 25%);

  --yellow-one: hsl(60, 89%, 64%);
  --yellow-two: hsl(60, 83%, 77%);
  --yellow-three: hsl(60, 86%, 72%);
  --yellow-four: hsl(60, 92%, 67%);
  --yellow-five: hsl(60, 83%, 77%);

  --light-silver: hsl(0, 0%, 95%);
  --dark-silver: hsl(0, 0%, 75%);
  --green: hsl(120, 100%, 25%);
  --black: hsl(0, 0%, 0%);

  --bordercolor-one: var(--light-silver);
  --bordercolor-two: var(--darkest-blue);
  --border-width: 0.5rem;

  --coastline-shadow: 0vw 0vw 2vw 1.5vw darkblue;

  --outer-coastline-bkgd: linear-gradient(
    90deg,
    hsl(203, 68%, 61%),
    hsl(203, 56%, 43%),
    hsl(203, 65%, 65%),
    hsl(203, 47%, 52%)
    );
    --outer-coastline-bkgd-size: 15% 15%;
    --outer-coastline-padding: 0.2rem;
  
    --inner-coastline: linear-gradient(
      90deg,
      hsl(203, 68%, 61%),
      hsl(203, 59%, 52%),
      hsl(203, 65%, 65%),
      hsl(203, 52%, 60%)
    );
  --inner-coastline-padding: 0.2rem;

  --continent-border-color: hsl(0, 59%, 41%);
  --continent-border: 0.2vw solid var(--continent-border-color);
  --continent-bkgd: linear-gradient(
    30deg,
    hsl(34, 49%, 62%),
    hsl(34, 49%, 62%),
    hsl(45, 51%, 72%),
    hsl(34, 49%, 62%),
    hsl(45, 51%, 72%),
    hsl(35, 25%, 65%)
  );

  // --continent-font: 'Tangerine';
  --continent-font-bold: 'Tangerine Bold';
  --main-font: Arial, sans-serif;
  --continent-title-size: clamp(2.25rem, 5vw, 6rem);

  --continent-popup-header: 1.25rem;
  --continent-popup-text: 1.2rem;
  --popup-title-size: 4rem;
  
  /* new mobile-first styles */
  --continent-header-margin-block: 1rem;
  --popup-header-margin-block: 1rem;
  --popup-border-radius: 0rem;

  --popup-bkgd: hsl(0, 0%, 5%);
  --popup-text-color: hsl(0, 0%, 90%);
  --popup-link-text: hsl(250, 90%, 80%);
  --popup-link-text-hover: hsl(250, 90%, 90%);

  --project-summary-title: 1.1rem;
  --project-summary-text: 1.1rem;
  --project-summary-button-text: 1rem;

  --project-details-title: 2.5rem;
  --project-details-tech: 1.75rem;
  --project-details-text: 1.25rem;
  --project-details-links: 1.25rem;

  --map-title: 3rem;

  --focus-hover-highlight: yellow;

  @include media-query-new(tablet-new) {
    --continent-title-size: clamp(2.25rem, 6vw, 5rem);
    --popup-border-radius: 0.75rem;
    --popup-title-size: 5rem;
  }

  @include media-query-new(desktop-small-new) {
    --outer-coastline-padding: 0.4rem;
    --inner-coastline-padding: 0.5rem;
  }

  @include media-query-landscape-mobile {
    --continent-title-size: clamp(2.25rem, 5vw, 6rem);
    --popup-title-size: 4rem;
    --popup-header-margin-block: 0.75rem;
  }
}

a {
  color: hsl(90, 60%, 6%, 0.8);
  text-decoration: none;
  outline: none;
  border-radius: inherit;
}

a:hover {
  color: var(--darker-blue);
}

/* 
media queries used
  @include media-query-new(tablet-new)
  @include media-query-new(desktop-small-new)
  @include media-query-landscape-mobile
*/