@use '../scss/' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@font-face {
  font-family: 'Tangerine';
  src: url(../fonts/tangerine/Tangerine_Regular.ttf);
}

@font-face {
  font-family: 'Tangerine Bold';
  src: url(../fonts/tangerine/Tangerine_Bold.ttf);
}

:root {
  --bordercolor-one: rgb(126, 96, 18);
  --bordercolor-two: rgb(200, 200, 1);

  --lightestblue: rgb(21, 103, 209);
  --lighterblue: rgb(29, 46, 201);
  --middleblue: rgb(46, 29, 204);
  --darkerblue: rgb(36, 17, 146);
  --darkestblue: rgb(41, 17, 129);

  --yellow-one: rgb(245, 245, 80);
  --yellow-two: rgb(245, 245, 148);
  --yellow-three: rgb(245, 245, 120);
  --yellow-four: rgb(248, 248, 93);
  --yellow-five: rgb(245, 245, 148);

  --coastline-shadow: 0vw 0vw 2vw 1.5vw darkblue;

  --outer-coastline-bkgd: linear-gradient(
    90deg,
    rgb(87, 171, 223),
    rgb(77, 152, 199),
    rgb(106, 178, 223),
    rgb(74, 146, 190)
  );
  --outer-coastline-bkgd-size: 15% 15%;
  --outer-coastline-padding: 0.4rem;

  --inner-coastline: rgb(111, 186, 233);
  --inner-coastline-bkgd: rgb(111, 186, 233);
  --inner-coastline-padding: 0.4rem;

  --continent-border-color: brown;
  --continent-border: 0.2vw solid var(--continent-border-color);
  --continent: rgb(220, 202, 148);
  --continent-font: 'Tangerine';
  --continent-font-bold: 'Tangerine Bold';
  --main-font: Arial, sans-serif;

  --continent-title: clamp(2.25rem, 8vw, 5rem);
  --continent-bkgd: linear-gradient(
    30deg,
    rgb(206, 165, 112),
    rgb(206, 165, 112),
    rgb(220, 202, 148),
    rgb(206, 165, 112),
    rgb(220, 202, 148),
    rgb(187, 168, 142)
  );

  --continent-popup-title: 5rem;
  --continent-popup-header: 1.25rem;
  --continent-popup-text: 1.2rem;
  --popup-header-text: 1.35rem;
  --popup-text: 1.1rem;

  --project-summary-title: 1.1rem;
  --project-summary-text: 1.1rem;
  --project-summary-button-text: 1rem;

  --project-details-title: 2.5rem;
  --project-details-tech: 1.75rem;
  --project-details-text: 1.25rem;
  --project-details-links: 1.5rem;

  --map-title: 3rem;

  --focus-hover-highlight: yellow;

  @include media-query-new(tablet-new) {
    --outer-coastline-padding: 0.55rem;

    --inner-coastline-padding: 0.5rem;
  }

  @include media-query-new(desktop-small-new) {
    --outer-coastline-padding: 0.7rem;

    --inner-coastline-padding: 0.65rem;

    // --inner-coastline-border-width: 0.1rem;
  }

  @include media-query-landscape-mobile {
    --continent-title: 1.5rem;

    --outer-coastline-padding: 0.2rem;
    --inner-coastline-padding: 0.1rem;
  }
}

a {
  color: rgba(15, 24, 6, 0.8);
  text-decoration: none;
  outline: none;
  border-radius: inherit;
}

a:hover {
  color: var(--darkestblue);
}

@include media-query(desktop-medium) {
  :root {
    --popup-header-text: 1.75vw;
    --popup-text: 1.5vw;
  }
}

@include media-query(tablet) {
  :root {
    // --outer-coastline-padding: 0.5rem;
    // --inner-coastline-padding: 0.5rem;

    // --inner-coastline-border-width: 0.1rem;

    --popup-header-text: 3vw;
    --popup-text: 2.75vw;
  }
}

@include media-maxWidth-orientation(tablet, landscape) {
  :root {
    --popup-header-text: 2.25vw;
    --popup-text: 2vw;
  }
}

@include media-query(mobile) {
  :root {
    // --outer-coastline-padding: 0.4rem;

    --continent-popup-title: 4rem;
    --popup-header-text: 3.4vw;
    --popup-text: 3.75vw;
  }
}
