@use '../../../scss/' as *;

.ProfileDetails {
  height: inherit;
}

.Header {
  margin-top: 1.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Photo {
  border-radius: 50%;
  width: 12vw;
}

.Name {
  font-size: var(--popup-title);
}

.Contact {
  margin-top: 0.5vw;
  font-size: var(--popup-header-text);
}

.ContactLink + .ContactLink::before {
  content: ' ';
  margin-left: 2vw;
}

.Bio {
  height: 55%;
  margin: 0.75vw 2vw;
  padding: 1vw;
  font-size: var(--popup-text);
  text-align: justify;
  overflow: auto;
}

.BioParagraph {
  margin-bottom: 1vw;
}

@media screen and (max-width: 1200px) {
  .Bio {
    height: 60%;
    margin: 0.75vw 2vw;
  }
}

@media screen and (max-width: 900px) and (min-height: 500px) {
  .Photo {
    width: 20vw;
    margin-top: 2vw;
    margin-bottom: 1vw;
  }

  .Contact {
    margin-top: 1vw;
  }

  .Bio {
    height: 70%;
    margin: 2vw 4vw;
  }

  .BioParagraph {
    padding-bottom: 1.5vw;
  }
}

@media screen and (max-width: 900px) and (orientation: landscape) {
  .ProfileDetails {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .Header {
    margin: 0;
    width: 25vw;
    gap: 1vw;
  }

  .Photo {
    width: 20vw;
  }

  .Name {
    font-size: 3vw;
  }

  .Contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2vw;
  }

  .ContactLink + .ContactLink {
    margin-top: 1vw;
  }

  .Bio {
    font-size: 2.5vw;
    margin: 0;
    padding: 0;
    height: 88vh;
    width: 65vw;
  }
}

@include media-query(mobile) {
  .ProfileDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .Photo {
    width: 30vw;
    margin-top: 4vw;
    margin-bottom: 2vw;
  }

  .Contact {
    margin-top: 1.5vw;
  }

  .BioParagraph {
    margin-bottom: 2vw;
  }
}
