@use '../../../scss/' as *;

.ProfilePopUp {
  // border-radius: inherit;

  // height: 100%;
  // max-width: 95%;
  // margin-inline: auto;
  // padding-block: 2rem;
  // overflow: auto;

  // header {
  //   text-align: center;

  //   img {
  //     border-radius: 50%;
  //     width: 12rem;
  //     border-style: solid;
  //     border-color: var(--popup-text);
  //     border-width: 2px;
  //   }

  //   // name
  //   & p:nth-child(2) {
  //     font-size: var(--popup-title-size);
  //     font-family: var(--continent-font-bold);
  //   }

  //   // contact info
  //   & p:nth-child(3) {
  //     font-size: var(--continent-popup-header);

  //     div {
  //       margin-top: 0.25rem;
  //     }

  //     & a:nth-child(2)::before {
  //       content: ' - ';
  //     }
  //   }
  // }

  // // bio
  // & > div {
  //   display: flex;
  //   flex-direction: column;
  //   gap: 0.75rem;
  //   margin-block: 1rem;
  //   padding: 1rem;

  //   font-size: var(--continent-popup-text);

  //   text-align: justify;
  //   overflow: auto;
  //   // border: 1px solid black;
  //   border: 1px solid var(--popup-text);
  //   border-radius: 0.5rem;
  //   // box-shadow: 0 0 0.25rem 0.01rem black;
  //   box-shadow: 0 0 0.25rem 0.01rem var(--popup-text);
  // }

  // @include media-query(mobile) {
  //   padding-block: 1rem;
  // }

  // header {
  //   img {
  //     width: 10rem;
  //   }

  //   // contact info
  //   & p:nth-child(3) {
  //     display: flex;
  //     flex-direction: column;
  //     gap: 0.25rem;

  //     div {
  //       margin-top: 0;
  //     }

  //     & a:nth-child(2)::before {
  //       content: '';
  //     }
  //   }
  // }

  // // bio
  // & > div {
  //   margin-inline: 1rem;
  // }


  /* MOBILE-FIRST REFACTOR */ 

  padding: 2rem 1.5rem;

  height: 100dvh;
  overflow: auto;

  header {
    text-align: center;

    // photo
    img {
      border-radius: 50%;
      border-style: solid;
      border-color: var(--popup-text-color);
      border-width: 2px;
      width: 10rem;
    }

    // name
    h2 {
      font-size: var(--popup-title-size);
      font-family: var(--continent-font-bold);
      line-height: 1.25;
    }

    // contact info
    & > div {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      font-size: var(--continent-popup-header);

      a {
        color: var(--popup-link-text);
  
        &:hover {
          color: var(--popup-link-text-hover);
        }
      }
    }
  }

  // bio
  & > div {
    border: 1px solid var(--popup-text-color);
    border-radius: 0.5rem;
    box-shadow: 0 0 0.25rem 0.01rem var(--popup-text-color);

    margin-block: 1rem;
    padding: 1rem;

    font-size: var(--continent-popup-text);
    text-align: justify;

    p + p {
      margin-top: 0.75rem;
    }

    @include media-query-new(desktop-small-new) {
      max-width: 60rem;
      margin-inline: auto;
    }
  }  
}