.Profile {
    grid-column: 5 / 9;
    grid-Row: 3 / 6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.OuterCoastline {
    background: var(--outer-coastline);
    border-radius: var(--profile-continent-shape);
    box-shadow: var(--continent-box-shadow) var(--coastline-shadow);
    padding: var(--outer-coastline-padding);
    width: fit-content;
    margin: var(--profile-continent-margin);
}

.InnerCoastline {
    background: var(--inner-coastline);
    border: 0.15vw dashed var(--continent-border);
    border-radius: inherit;
    padding: var(--inner-coastline-padding);
    height: fit-content;
    width: fit-content;
}

.Continent {
    background: var(--continent);
    border: .25vw solid var(--continent-border);
    border-radius: inherit;
    height: var(--profile-continent-height);
    width: var(--profile-continent-width);
    padding: var(--continent-padding);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--profile-continent-font);
    font-weight: bold;
}

@media screen and (max-width: 900px) {
    .Profile {
        grid-column: 5 / 9;
        grid-Row: 5 / 8;
    }
}

@media screen and (max-width: 500px) {
    .Profile {
        grid-column: 1 / 11;
        grid-row: 10 / 14;
    }
}
