@use '../../../scss/' as *;

.Profile {
  grid-column: 5 / 9;
  grid-row: 3 / 6;
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  z-index: 1;

  @extend %half-second-transition;
}

.Profile:focus-within,
.OuterCoastline:hover {
  transform: scale(1.075);
}

.OuterCoastline {
  @extend %moving-waves;
  @extend %half-second-transition;
  border-radius: 120vw 70vw 95vw 90vw;
}

.InnerCoastline {
  @extend %inner-coastline;
}

.Continent {
  @extend %continent-styles;
  background: linear-gradient(
    30deg,
    rgb(206, 165, 112),
    rgb(206, 165, 112),
    var(--continent),
    rgb(206, 165, 112),
    var(--continent),
    rgb(187, 168, 142)
  );

  padding: 1.75rem 3rem;

  font-size: 6rem;
}

@include media-maxWidth-minHeight(tablet, mobile) {
  .Profile {
    grid-column: 3 / 9;
    grid-row: 5 / 8;
  }

  .OuterCoastline {
    margin: 5vw 8vw 0 0;
  }

  .Continent {
    padding: 1rem 2rem;
    font-size: 5.5rem;
  }
}

@include media-mobile-landscape() {
  .Profile {
    grid-column: 5 / 9;
    grid-row: 4 / 10;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

@include media-maxWidth-orientation(mobile, portrait) {
  .Profile {
    grid-column: 1 / 8;
    grid-row: 10 / 14;
  }

  .OuterCoastline {
    margin: 0;
  }

  .Continent {
    // height: 10vh;
    // width: 37vw;
    font-size: 13.5vw;
    font-size: 3.5rem;
  }
}

@media (prefers-reduced-motion: reduce) {
  .Profile:focus-within {
    transform: none;
    .OuterCoastline {
      box-shadow: 0 0 1vw 0.75vw var(--focus-hover-highlight);
    }
  }

  .OuterCoastline:hover {
    transform: none;
    box-shadow: 0 0 1vw 0.75vw var(--focus-hover-highlight);
  }

  .OuterCoastline {
    animation: none;
  }
}
