.ProfileDetails {
    background: var(--continent);
    border: black solid thick;
    border-radius: 25px;
    height: 96vh;
    width: 60vw;
    position: absolute;
    top: 2%;
    left: 20vw;
    z-index: 1;
    overflow: scroll;
}

.Button {
    background: black;
    border-radius: 50%;
    padding: 0.25vw 0.5vw;
    color: white;
    font-size: 1.25vw;

    position: absolute;
    top: 1vw;
    left: 56vw;
}

.Header {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: dashed 1px blue; */
}

.Photo {
    border-radius: 50%;
    width: 12vw;
    margin-top: 1vw;
    /* border: dashed 1px red; */
}

.Name {
    font-size: var(--continent-details-title);
    /* border: dashed 1px darkblue; */
}

.Contact {
    margin-top: .5vw;
    font-size: 1.5vw;
    /* border: dashed 1px green; */
}

.ContactLink {
    /* color: darkblue; */
    margin: .5vw;
    /* border: dashed 1px black; */
}

.Bio {
    height: fit-content;
    margin: .75vw 2vw;
    font-size: var(--continent-details-body);
    text-align: justify;

    /* border: dashed 1px white; */
}

.BioParagraph {
    margin-bottom: 1vw;
    /* border: dashed 1px pink; */
}

@media screen and (max-width: 1200px) {
    .ProfileDetails {
        top: 1.5%;
        height: 97vh;
    }

    .Contact {
        font-size: 1.75vw;
    }

    .Bio {
        margin: .75vw 2vw;
    }
}
@media screen and (max-width: 900px) {
    .ProfileDetails {
        border-radius: 0;
        top: 0%;
        left: 0%;
        height: 100vh;
        width: 100vw;
    }

    .Button {
        padding: 0.5vw 1vw;
        font-size: 3vw;
        left: 93vw;
    }

    .Photo {
        width: 20vw;
        margin-top: 2vw;
        margin-bottom: 1vw;
    }

    .Contact {
        margin-top: 1vw;
        font-size: 3vw;
    }

    .Bio {
        margin: 2vw 4vw;
    }
}

@media screen and (max-width: 500px) {
    .Button {
        padding: 0.75vw 1.5vw;
        font-size: 4vw;
        top: 1.5vw;
        left: 89vw;
    }

    .Photo {
        width: 30vw;
        margin-top: 4vw;
        margin-bottom: 2vw;
    }
    
    .Contact {
        margin-top: 1.5vw;
        font-size: 3.4vw;
    }

    .Bio {
        /* margin: 2vw 2vw 2vw 4vw; */
        /* padding: 1vw 5vw; */
        /* height: 65%; */
        /* font-size: 3.75vw; */
    }

    
    .BioParagraph {
        margin-bottom: 2vw;
    }
}
