@use '../../../scss/' as *;

.ProfilePopUp {
  --profile-popup-padding-top: 1rem;
  --profile-popup-padding-bottom: 1rem;


  padding-top: var(--profile-popup-padding-top);
  padding-bottom: var(--profile-popup-padding-bottom);
  padding-inline: 1.5rem;

  height: calc(100dvh - var(--border-width) * 2);

  display: grid;
  grid-template-rows: auto auto;

  header {
    text-align: center;

    // photo
    img {
      border-radius: 50%;
      border-style: solid;
      border-color: var(--popup-text-color);
      border-width: 2px;
      width: 15%;
      min-width: 7rem;
      max-width: 20rem;
    }

    // name
    h2 {
      font-size: var(--popup-title-size);
      font-family: var(--continent-font-bold);
      font-weight: 400;
      line-height: 1.25;
    }

    // contact info
    & > div {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      font-size: var(--continent-popup-header);

      a {
        color: var(--popup-link-text);
  
        &:hover {
          color: var(--popup-link-text-hover);
        }
      }
    }
  }

  // bio
  & > div {
    grid-template-rows: 2 / 3;
    height: 100%;
    height: calc(100% - 1rem);
    overflow: auto;
    
    border: 1px solid var(--popup-text-color);
    border-radius: 0.5rem;
    box-shadow: 0 0 0.25rem 0.01rem var(--popup-text-color);

    margin-top: 1rem;
    padding: 1rem;

    font-size: var(--continent-popup-text);
    text-align: justify;
    

    p + p {
      margin-top: 0.75rem;
    }
    
    @include media-query-new(tablet-new) {
      height: auto;
    }
  }

  @include media-query-new(tablet-new) {
    // height: auto;
    height: 50%;
    height: calc(100dvh - var(--profile-popup-padding-top) - var(--profile-popup-padding-bottom) - 1rem);
  }

}