@use '../../../scss/' as *;

.ProfilePopUp {
  border-radius: inherit;

  height: 100%;
  max-width: 95%;
  margin-inline: auto;
  padding-block: 2rem;
  overflow: auto;

  header {
    text-align: center;

    img {
      border-radius: 50%;
      width: 12rem;
      border-style: solid;
      border-color: var(--popup-text);
      border-width: 2px;
    }

    // name
    & p:nth-child(2) {
      font-size: var(--popup-title-size);
      font-family: var(--continent-font-bold);
    }

    // contact info
    & p:nth-child(3) {
      font-size: var(--continent-popup-header);

      div {
        margin-top: 0.25rem;
      }

      & a:nth-child(2)::before {
        content: ' - ';
      }
    }
  }

  // bio
  & > div {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-block: 1rem;
    padding: 1rem;

    font-size: var(--continent-popup-text);

    text-align: justify;
    overflow: auto;
    // border: 1px solid black;
    border: 1px solid var(--popup-text);
    border-radius: 0.5rem;
    // box-shadow: 0 0 0.25rem 0.01rem black;
    box-shadow: 0 0 0.25rem 0.01rem var(--popup-text);
  }

  @include media-query(mobile) {
    padding-block: 1rem;
  }

  header {
    img {
      width: 10rem;
    }

    // contact info
    & p:nth-child(3) {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;

      div {
        margin-top: 0;
      }

      & a:nth-child(2)::before {
        content: '';
      }
    }
  }

  // bio
  & > div {
    margin-inline: 1rem;
  }
}

// USED:
//   mobile: 35rem,

// NONE:
//   desktop-medium: 85rem,
//   desktop-small: 70rem,
//   tablet-wide: 1000px,
//   tablet: 56rem,
//   junior: 45rem,
//   mobile-narrow: 300px
