@use '../../../scss/' as *;

.ProfileDetails {
  height: inherit;
}

.Header {
  margin-top: 1.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Photo {
  border-radius: 50%;
  width: 12vw;
}

.Name {
  font-size: var(--popup-title);
}

.Contact {
  font-size: var(--popup-header-text);
}

.ContactLink + .ContactLink {
  margin-left: 1.5vw;
}

.Bio {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin: 0.75vw 2vw;
  padding: 0.75rem;
  font-size: var(--popup-text);
  text-align: justify;
  overflow: auto;
  border: 1px solid black;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.25rem 0.01rem black;
}

@include media-query(desktop-small) {
  .ProfileDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 900px) and (min-height: 500px) {
  .Photo {
    width: 20vw;
    margin-top: 2vw;
    margin-bottom: 1vw;
  }

  .Contact {
    margin-top: 1vw;
  }

  .Bio {
    margin: 2vw 4vw;
  }
}

@include media-query-landscape(tablet) {
  .ProfileDetails {
    flex-direction: row;
    align-items: center;
    padding-right: 1.25rem;
    padding-bottom: 0.25rem;
  }

  .Header {
    margin: 0;
    width: 35%;
    gap: 1.5vw;
  }

  .Photo {
    margin-top: 0;
    width: 20vw;
  }

  .Contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ContactLink + .ContactLink {
    margin-top: 1vw;
  }

  .Bio {
    height: 90%;
    width: 65%;
    margin: 0;
  }
}

@include media-query(mobile) {
  .ProfileDetails {
    padding-bottom: 0.5rem;
  }

  .Photo {
    width: 30vw;
    margin-top: 4vw;
    margin-bottom: 2vw;
  }
}
