@use '../../../scss/' as *;

.Profile {
  grid-column: 1 / 8;
  grid-row: 9 / 14;

  padding-left: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  z-index: 1;

  @extend %half-second-transition;

  @extend %testing-colors-new;

  @include media-query-new(tablet-new) {
    grid-column: 1 / 8;
    grid-row: 9 / 15;
  }

  @include media-query-new(desktop-small-new) {
    grid-column: 5 / 9;
    grid-row: 7 / 13;

    padding-left: 0;
  }
}

.Profile:focus-within,
.OuterCoastline:hover {
  transform: scale(1.075);
}

.OuterCoastline {
  @extend %moving-waves;
  @extend %half-second-transition;
  border-radius: 120vw 70vw 95vw 90vw;
}

.InnerCoastline {
  @extend %inner-coastline;
}

.Continent {
  @extend %continent-styles;
  background: linear-gradient(
    30deg,
    rgb(206, 165, 112),
    rgb(206, 165, 112),
    var(--continent),
    rgb(206, 165, 112),
    var(--continent),
    rgb(187, 168, 142)
  );

  padding: 0.75rem 1.25rem;

  font-size: var(--continent-title);

  @include media-query-new(tablet-new) {
    padding-block: 1rem;
    padding-inline: 1.5rem 1.75rem;
  }

  @include media-query-new(desktop-small-new) {
    padding-block: 1.5rem;
    padding-inline: 2.25rem 2.75rem;
  }
}

@media (prefers-reduced-motion: reduce) {
  .Profile:focus-within {
    transform: none;

    .OuterCoastline {
      box-shadow: 0 0 1vw 0.75vw var(--focus-hover-highlight);
    }
  }

  .OuterCoastline:hover {
    transform: none;
    box-shadow: 0 0 1vw 0.75vw var(--focus-hover-highlight);
  }

  .OuterCoastline {
    animation: none;
  }
}

// media queries:
// @include media-query-new(tablet-new) {
// @include media-query-new(desktop-small-new) {
// @include media-query-new(desktop-medium-new) {
// @media (prefers-reduced-motion: reduce) {
