@use '../../scss/' as *;

.Email {
  grid-column: 5 / 9;
  grid-row: 18 / 22;

  z-index: 2;

  @extend %island-centering;

  @include media-query-new(tablet-new) {
    grid-column: 4 / 8;
    grid-row: 19 / 23;
    // border: solid white 1px;
  }

  @include media-query-new(desktop-small-new) {
    grid-column: 8 / 11;
    grid-row: 18 / 21;
  }
}

// media queries used
// @include media-query-new(tablet-new) {
// @include media-query-new(desktop-small-new) {
