@use '../../scss/' as *;

.Email {
  grid-column: 7 / 10;
  grid-row: 20 / 23;
  z-index: 3;

  @include media-query-new(tablet-new) {
    grid-row: 19 / 21;
  }

  @include media-query-new(desktop-small-new) {
    grid-column: 11 / 13;
    grid-row: 16 / 19;

    align-self: center;
  }

  @include media-query-new(desktop-large-new) {
    grid-column: 9 / 11;
  }
}
