.Email {
  grid-column: 10 / 12;
  grid-row: 6 / 9;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 900px) and (orientation: landscape) {
  .Email {
    grid-column: 1 / 5;
    grid-row: 7 / 9;
    padding-bottom: 1vw;

    /* border: solid black; */
  }
}

@media screen and (max-width: 900px) and (min-height: 500px) {
  .Email {
    grid-column: 10 / 13;
    grid-row: 3 / 7;
  }
}

@media screen and (max-width: 500px) {
  .Email {
    grid-column: 6 / 10;
    grid-row: 4 / 8;
  }
}
