.Email {
    grid-column: 10 / 12;
    grid-row: 6 / 9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.OuterCoastline {
    background: var(--outer-coastline);
    border-radius: 50%;
    box-shadow: 0vw 0vw 1vw 1vw var(--coastline-shadow);
    height: fit-content;
    padding: 0.4vw;
}

.InnerCoastline {
    background: var(--inner-coastline);
    border: 0.1vw dashed var(--continent-border);
    border-radius: inherit;
    padding: 0.5vw;
}

.Island {
    background: var(--continent);
    border-radius: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vw;
    height: 5vw;
    width: 5vw;
}

@media screen and (max-width: 500px) {
    .Email {
        grid-column: 9 / 13;
        grid-row: 5 / 9;
    }

    .OuterCoastline {
        background: var(--outer-coastline);
        border-radius: 50%;
        box-shadow: 0vw 0vw 1vw 1.5vw var(--coastline-shadow);
        padding: 0.8vw;
        margin: 0 5vw 0 0;
    }
    
    .InnerCoastline {
        background: var(--inner-coastline);
        border: 0.1vw dashed var(--continent-border);
        border-radius: inherit;
        padding: 1vw;
    }

    .Island {
        height: fit-content;
        width: fit-content;
        padding: 4vw 1vw;
    }
}
