.Email {
    grid-column: 8 / 10;
    grid-row: 3 / 6;
    grid-column: 9 / 11;
    grid-row: 5 / 8;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.OuterCoastline {
    background: var(--outer-coastline);
    border-radius: 50%;
    box-shadow: 0vw 0vw 1vw 1vw var(--coastline-shadow);
    padding: 0.4vw;
}

.InnerCoastline {
    background: var(--inner-coastline);
    border: 0.1vw dashed var(--continent-border);
    border-radius: inherit;
    padding: 0.5vw;
}

.Island {
    background: var(--continent);
    border-radius: inherit;

    display: flex;
    align-items: center;
    justify-content: center;


    height: 5vw;
    width: 5vw;
}