@use '../../scss/' as *;

.GitHub {
  grid-column: 6 / 10;
  grid-row: 14 / 18;

  z-index: 2;

  @extend %island-centering;
  
  @include media-query-new(desktop-small-new) {
    grid-column: 5 / 7;
    grid-row: 15 / 19;
  }
}

// media queries used
// @include media-query-new(desktop-small-new) {