@use '../../scss/' as *;

.GitHub {
  grid-column: 7 / 10;
  grid-row: 2 / 6;
  @extend %island-centering;

  // new
  grid-column: 4 / 7;
  grid-row: 20 / 23;

  outline: 3px dotted silver;
  z-index: 3;

  @include media-query-new(tablet-new) {
    // grid-row: 19 / 22;
  }
}

@include media-maxWidth-minHeight(tablet, mobile) {
  .GitHub {
    // grid-column: 6 / 11;
    // grid-row: 2 / 5;
  }
}

@include media-mobile-landscape() {
  .GitHub {
    // grid-column: 6 / 11;
    // grid-row: 1 / 4;
    // padding-left: 1vw;
  }
}

@include media-query(mobile) {
  .GitHub {
    // grid-column: 3 / 8;
    // grid-row: 2 / 5;
  }
}
