@use '../../scss/' as *;

.OuterCoastline:focus-within {
  transform: scale(1.15);
}

.OuterCoastline {
  background: var(--outer-coastline);
  border-radius: 50%;
  box-shadow: 0vw 0vw 1vw 1vw var(--coastline-shadow-color);

  padding: 0.2rem;

  @extend %half-second-transition;
}

.OuterCoastline:hover {
  transform: scale(1.15);
}

.InnerCoastline {
  background: var(--inner-coastline);
  border: 0.1vw dashed var(--continent-border);
  border-radius: inherit;

  padding: 0.25rem;

  @include media-query-landscape-mobile {
    padding: 0.1rem;
  }
}

.Island {
  border-radius: inherit;
  background: linear-gradient(
    30deg,
    rgb(206, 165, 112),
    rgb(206, 165, 112),
    var(--continent),
    rgb(206, 165, 112),
    var(--continent),
    rgb(187, 168, 142)
  );
  background-size: 5% 5%;

  position: relative;
  z-index: 1;

  padding: 0.75rem 0.5rem;
  font-size: 0.75rem;
  text-align: center;

  @include media-query-new(desktop-small-new) {
    padding: 0.8rem 0.6rem;
    font-size: 0.9rem;
  }

  @include media-query-new(desktop-large-new) {
    padding: 0.9rem 0.75rem;
    font-size: 1rem;
  }

  @include media-query-landscape-mobile {
    font-size: 0.5rem;
    padding: 0.25rem;
  }
}

@media (prefers-reduced-motion: reduce) {
  .OuterCoastline:focus-within {
    transform: none;

    box-shadow: 0 0 1vw 0.75vw var(--focus-hover-highlight);
  }

  .OuterCoastline:hover {
    transform: none;
    box-shadow: 0 0 1vw 0.75vw var(--focus-hover-highlight);
  }

  .OuterCoastline {
    animation: none;
  }
}

// media queries used
// @include media-query-new(desktop-small-new) {
// @include media-query-new(desktop-large-new) {
// @media (prefers-reduced-motion: reduce) {
// @include media-query-landscape-mobile {
