.IslandChain {
    grid-column: 1 / 7;
    grid-row: 4 / 8;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
    height: 100%;
}

.IslandGridBlock {
    border: 1px yellow dashed;
}