@use '../../scss/' as *;

.IslandChain {
  // old
  // grid-column: 1 / 8;
  // grid-row: 5 / 9;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 1fr);

  // new
  grid-column: 1 / 13;
  grid-row: 17 / 25;

  @include media-query-new(tablet-new) {
  }
}

@include media-maxWidth-minHeight(tablet, mobile) {
  .IslandChain {
    // grid-column: 1 / 11;
    // grid-row: 8 / 13;
  }
}

@include media-mobile-landscape() {
  .IslandChain {
    // grid-column: 7 / 11;
    // grid-row: 4 / 13;
  }
}

@include media-query(mobile) {
  .IslandChain {
    // grid-column: 1 / 13;
    // grid-row: 17 / 25;
  }
}
