.LinkedIn {
  grid-column: 6 / 8;
  grid-row: 4 / 8;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 900px) and (orientation: landscape) {
  .LinkedIn {
    grid-column: 4 / 7;
    grid-row: 4 / 8;
  }
}

@media screen and (max-width: 900px) and (min-height: 500px) {
  .LinkedIn {
    grid-column: 5 / 9;
    grid-row: 4 / 8;
  }
}

@media screen and (max-width: 500px) {
  .LinkedIn {
    grid-column: 1 / 5;
    grid-row: 3 / 7;
  }
}
