@use '../../scss/' as *;

.LinkedIn {
  grid-column: 6 / 8;
  grid-row: 4 / 8;
  @extend %island-centering;
}

@media screen and (max-width: 900px) and (min-height: 500px) {
  .LinkedIn {
    grid-column: 5 / 9;
    grid-row: 4 / 8;
  }
}

@media screen and (max-width: 900px) and (max-height: 500px) and (orientation: landscape) {
  .LinkedIn {
    grid-column: 5 / 11;
    grid-row: 3 / 6;
    padding-left: 1vw;
  }
}

@include media-query(mobile) {
  .LinkedIn {
    grid-column: 1 / 5;
    grid-row: 4 / 8;
  }
}
