@use '../../scss/' as *;

.LinkedIn {
  grid-column: 6 / 8;
  grid-row: 4 / 8;
  @extend %island-centering;
}

@include media-maxWidth-minHeight(tablet, mobile) {
  .LinkedIn {
    grid-column: 5 / 9;
    grid-row: 4 / 8;
  }
}

@include media-mobile-landscape() {
  .LinkedIn {
    grid-column: 5 / 11;
    grid-row: 3 / 6;
    padding-left: 1vw;
  }
}

@include media-query(mobile) {
  .LinkedIn {
    grid-column: 1 / 5;
    grid-row: 4 / 8;
  }
}
