@use '../../scss/' as *;

.BorderCorner {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 9;
  display: flex;

  div {
    background: linear-gradient(
      130deg,
      var(--bordercolor-one),
      var(--bordercolor-two)
    );
    background-size: 9% 9%;
    height: 2vw;
    width: 2vw;
  }
}

@media screen and (max-width: 900px) {
  .BorderCorner {
    grid-row-end: 13;
  }
}

@include media-query(mobile) {
  .BorderCorner {
    grid-row-end: 25;
  }
}
