@use '../../scss/' as *;

.LegendBox {
  grid-column: 9 / 13;
  grid-row: 1 / 6;

  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia, 'Times New Roman', Times, serif;

  position: relative;
  z-index: 1;

  h3 {
    font-size: 2vw;
  }

  .Legend {
    background: rgb(245, 245, 101);
    background: linear-gradient(
      125deg,
      var(--yellow-one),
      var(--yellow-two),
      var(--yellow-three),
      var(--yellow-four),
      var(--yellow-five)
    );
    background-size: 100% 100%;

    border: thick solid rgb(10, 10, 10);
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5vw 0.15vw gold;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 20vw;
    padding: 0.75rem 0.5rem 0.5rem 1rem;
    flex-basis: 0;
    flex-grow: 0.55;
    flex-shrink: 0;

    max-height: max(5rem, 90%);
    overflow: auto;

    div {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 100%;
      margin-top: 0.5rem;
      margin-bottom: 0.25rem;
      padding: 0 0.5rem;

      ul {
        li {
          list-style-type: none;
        }

        li + li {
          margin-top: 0.1rem;
        }
      }
    }
  }
}

// Desktop screen with narrow width (i.e. laptops)
@media screen and (max-width: 1200px) {
  .LegendBox {
    grid-row: 1 / 7;
    align-items: center;

    h3 {
      font-size: 2.4vw;
    }

    .Legend {
      border: solid 0.25vw rgb(10, 10, 10);
      padding-bottom: 0.25rem;
      width: 25vw;
      flex-grow: 0.75;
      overflow: auto;
    }
  }
}

@include media-query(tablet) {
  .LegendBox {
    grid-column: 8 / 13;
    grid-row: 2 / 8;

    h3 {
      font-size: 1.5rem;
    }

    .Legend {
      max-height: 35vh;
      overflow: auto;

      div {
        width: fit-content;
      }
    }
  }
}

// Tablet screen
@include media-maxWidth-minHeight(tablet, senior) {
  .LegendBox {
    h3 {
      font-size: 4vw;
    }

    .Legend {
      width: 35vw;
      overflow: auto;
    }
  }
}

// Mobile screen for landscape orientation
@media screen and (max-width: 900px) and (max-height: 500px) {
  .LegendBox {
    grid-column: 10 / 13;
    grid-row: 2 / 12;

    h3 {
      font-size: 3vw;
    }

    .Legend {
      border: solid 0.25vw rgb(10, 10, 10);
      height: fit-content;
      max-height: 100%;
      width: 20vw;
      overflow: auto;

      div {
        flex-direction: column;
      }
    }
  }
}

@include media-query(junior) {
  .LegendBox {
    .Legend {
      div {
        flex-direction: column;
      }
    }
  }
}

// Mobile screen for portrait orientation
@include media-query(mobile) {
  .LegendBox {
    grid-column: 7 / 13;
    grid-row: 5 / 15;
    padding-right: 3vw;
    align-items: flex-start;
    justify-content: flex-end;

    h3 {
      font-size: 5vw;
    }

    .Legend {
      border: solid 0.5vw rgb(10, 10, 10);
      height: fit-content;
      max-height: 100%;
      width: 39vw;
      overflow: auto;

      div {
        flex-direction: column;
        width: fit-content;
        margin: 0.5rem;
      }
    }
  }
}

// Mobile screen for portrait orientation with short height
@media screen and (max-width: 500px) and (max-height: 700px) {
  .LegendBox {
    h3 {
      font-size: 5vw;
    }

    .Legend {
      border: solid 0.5vw rgb(10, 10, 10);
      width: 40vw;
      overflow: auto;
    }
  }
}

@include media-query(mobile-narrow) {
  .LegendBox {
    .Legend {
      h3 {
        font-size: 6vw;
      }
      div {
        ul {
          li {
            font-size: 4vw;
          }
        }
      }
    }
  }
}
