.Legend {
  grid-column: 9 / 13;
  grid-row: 1 / 6;

  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia, 'Times New Roman', Times, serif;

  div {
    background: rgb(245, 245, 101);
    background: linear-gradient(
      125deg,
      rgb(245, 245, 80),
      rgb(245, 245, 148),
      rgb(245, 245, 120),
      rgb(248, 248, 93),
      rgb(245, 245, 148)
    );
    background-size: 100% 100%;

    border: thick solid rgb(10, 10, 10);
    box-shadow: 0 0 0.5vw 0.15vw gold;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 25vw;
    padding: 1vw;
  }

  h3 {
    font-size: 2vw;
  }

  article {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    padding-top: 0.5vw;
    font-size: 1.25vw;
    overflow: auto;
  }

  p span {
    font-weight: bold;
  }
}

@media screen and (max-width: 1200px) {
  .Legend {
    grid-row: 1 / 7;

    div {
      border: solid 0.25vw rgb(10, 10, 10);
    }

    h3 {
      font-size: 2.4vw;
    }

    article {
      font-size: 1.5vw;
    }
  }
}

@media screen and (max-width: 900px) and (min-height: 500px) {
  .Legend {
    grid-column: 8 / 13;
    grid-row: 2 / 7;
    align-items: flex-start;
    padding-top: 3vw;
    padding-left: 4vw;

    div {
      width: 30vw;
      overflow: auto;
    }

    h3 {
      font-size: 4vw;
    }

    article {
      font-size: 2.25vw;
      justify-content: space-between;
    }
  }
}

@media screen and (max-width: 900px) and (orientation: landscape) {
  .Legend {
    grid-column: 10 / 13;
    grid-row: 1 / 13;

    div {
      border: solid 0.25vw rgb(10, 10, 10);
      width: 20vw;
    }
  }
}

@media screen and (max-width: 500px) and (min-height: 700px) {
  .Legend {
    grid-column: 8 / 13;
    grid-row: 4 / 13;
    padding: 0;
    align-items: center;

    div {
      border: solid 0.5vw rgb(10, 10, 10);
      width: 37vw;
      overflow: auto;
    }

    h3 {
      font-size: 4vw;
    }

    article {
      font-size: 3.15vw;
    }
  }
}

@media screen and (max-width: 500px) and (max-height: 699px) {
  .Legend {
    grid-column: 7 / 13;
    grid-row: 5 / 15;
    padding: 0 0 0 5vw;

    div {
      border: solid 0.5vw rgb(10, 10, 10);
      height: 100%;
      width: 38vw;
      overflow: auto;
    }

    h3 {
      font-size: 4vw;
    }

    article {
      font-size: 3.15vw;
    }
  }
}
