.ScaleContainer {
    grid-column: 2 / 6;
    grid-Row: 7 / 8;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 1vw;
}


.Scale {
    display: flex;    
    color: white;
}

.ScaleNumber {
    position: relative;
    left: -0.75vw;
}

.ScaleStart {
    border-left: .1vw gray solid;
}

.ScaleEnd {
    border-right: .1vw gray solid;
}

.ScaleBlockBlack {
    background: black;
    height: 2vw;
    width: 5vw;
    border-top: .1vw gray solid;
    border-bottom: .1vw gray solid;
}

.ScaleBlockWhite {
    background: white;
    height: 2vw;
    width: 5vw;
    border-top: .1vw gray solid;
    border-bottom: .1vw gray solid;
}


@media screen and (max-width: 900px) and (orientation: portrait) {
    .ScaleBlockBlack {
        width: 7vw;
    }
    
    .ScaleBlockWhite {
        width: 7vw;
    }
}

@media screen and (max-width: 500px) and (orientation: portrait) {
    .ScaleBlockBlack {
        width: 9vw;
    }
    
    .ScaleBlockWhite {
        width: 9vw;
    }
}
