.ScaleContainer {
    grid-column: 1 / 5;
    grid-row: 7 / 8;
    display: flex;
    padding: 2vw 0vw 2vw 3vw;
    color: white;


    border: 1px pink solid;
}

.ScaleNumber {
    position: relative;
    left: -0.5vw;
}

.ScaleNumberFirst {
    left: 0vw;
}

.ScaleBlockFirst {
    border-left: .2vw gray solid;
}

.ScaleBlockLast {
    border-right: .2vw gray solid;
}

.ScaleBlockBlack, .ScaleBlockWhite {
    height: 1vw;
    width: 4vw;
    border-top: .2vw gray solid;
    border-bottom: .2vw gray solid;
}

.ScaleBlockBlack {
    background: black;
}

.ScaleBlockWhite {
    background: white;
}

@media screen and (max-width: 900px) {
    .ScaleContainer {
        padding: 7vw 0vw 2vw 5vw;
    }

    .ScaleNumber {
        left: -1vw;
    }

    .ScaleNumberFirst {
        left: 0vw;
    }
    
    .ScaleBlockBlack, .ScaleBlockWhite {
        height: 1.5vw;
        width: 5vw;
    }
}





@media screen and (max-width: 500px) {
    .ScaleContainer {
        grid-column: 1 / 10;
        grid-row: 23 / 25;
        padding: 5vw 0vw 2vw 6vw;
        justify-content: center;
    }

    .ScaleNumber {
        left: -1.5vw;
    }

    .ScaleNumberFirst {
        left: 0vw;
    }
    
    .ScaleBlockBlack, .ScaleBlockWhite {
        height: 2vw;
        width: 9vw;
    }
}
