@use '../../scss/' as *;

.ScaleContainer {
  // grid-column: 1 / 5;
  // grid-row: 8 / 9;
  display: flex;
  flex-direction: row;
  padding: 2vw 0vw 0vw 4vw;
  color: hsl(0, 0%, 100%);

  position: relative;
  z-index: -1;

  // new
  grid-column: 1 / 13;
  grid-row: 23 / 25;
  padding: 0vw 0vw 2vw 6vw;

  // justify-content: center;
  align-items: center;

  & > div:last-child {
    div + div {
      visibility: hidden;
    }
  }

  @include media-query(tablet) {
    border: 3px dotted yellow;
    // padding: 10vw 0vw 0vw 5vw;
    // grid-column: 1 / 6;
    // grid-row: 12 / 13;
    // display: flex;
    // padding: 2vw 0vw 0vw 4vw;
    // color: white;
  }

  @include media-mobile-landscape() {
    // grid-row: 11 / 13;
    // position: absolute;
    // bottom: 5%;
  }

  @include media-query(mobile) {
    // grid-column: 1 / 10;
    // grid-row: 24 / 25;
    // padding: 0vw 0vw 2vw 6vw;

    // justify-content: center;
  }
}

.ScaleNumber {
  position: relative;
  // left: -0.5vw;

  // new
  // left: -1.5vw;
  left: -0.5rem;

  @include media-query-new(tablet-new) {
    left: -0.5rem;
  }

  // @include media-query-new(desktop-small-new) {
  //   // left: -0.5vw;
  // }

  // @include media-query(tablet) {
  //   // left: -1vw;
  // }

  // @include media-query(mobile) {
  //   // left: -1.5vw;
  // }
}

.ScaleNumberFirst {
  // left: 0vw;
  left: -0.25rem;

  @include media-query(tablet) {
    // left: 0vw;
    // left: -0.1rem;
  }

  @include media-query(mobile) {
    // left: 0vw;
  }
}

.ScaleBlockFirst {
  border-left: 0.2vw gray solid;
}

.ScaleBlockLast {
  border-right: 0.2vw gray solid;
}

.ScaleBlockBlack,
.ScaleBlockWhite {
  height: 1vw;
  width: 4vw;
  border-top: 0.2vw gray solid;
  border-bottom: 0.2vw gray solid;

  // new
  // height: 2vw;
  height: 0.5rem;
  // width: 9vw;
  width: 2.11rem;

  @include media-query-new(tablet-new) {
    height: 0.75rem;
    width: 2.5rem;
  }

  @include media-query-new(desktop-large-new) {
    // height: 1vw;
    // width: 4vw;

    height: 1rem;
    width: 4.25rem;
  }

  @include media-query(tablet) {
    // height: 1.5vw;
    // width: 5vw;
  }

  @include media-query(mobile) {
    // height: 2vw;
    // width: 9vw;
  }
}

.ScaleBlockBlack {
  background: black;
}

.ScaleBlockWhite {
  background: white;
}
