.BorderCornerNew {
  background-color: yellow;

  background: linear-gradient(
      130deg,
      var(--bordercolor-one),
      var(--bordercolor-two)
    );

  grid-column: 1 / 13;
  grid-row: 1 / 25;

  width: 1.25rem;
  aspect-ratio: 1 / 1;

  position: relative;
  z-index: 1;  
}