.Border {
  background: linear-gradient(
    130deg,
    var(--bordercolor-one),
    var(--bordercolor-two)
  );

  height: 100vh;
  padding: 0.5rem;

  overflow: hidden;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(24, 1fr);
}