.CartographyDetails {
    border-radius: 60% 40% 60% 35%;
    height: 95vh;
    width: 95vw;
    position: absolute;
    top: 2.5%;;
    left: 2.5%;
}

.OuterCoastline {
    background: var(--outer-coastline);
    border-radius: inherit;
    height: 100%;
    width: 100%;
    padding: var(--outer-coastline-details-padding);
}

.InnerCoastline {
    background: var(--inner-coastline);
    border: 0.35vw dashed var(--continent-border);
    border-radius: inherit;
    height: inherit;
    width: inherit;
    padding: var(--inner-coastline-details-padding);
}

.Continent {
    background: var(--continent);
    border-radius: inherit;
    height: inherit;
    width: inherit;

    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(20, 1fr);
}

.Title {
    grid-column: 12 / 20;
    grid-row: 2 / 5;
    font-size: var(--continent-details-title);
}

.Content {
    grid-column: 9 / 23;
    grid-row: 5 / 11;
    padding: 1vw;
    font-size: 1.4vw;
    text-align: justify;
}

.MapGruenne, .MapApril, .MapMarneOsso, .MapHarland, .MapStrigi {
    z-index: 1;
}

.MapHarland {
    grid-column: 3 / 9;
    grid-row: 9 / 16;
}

.MapApril {
    grid-column: 10 / 16;
    grid-row: 12 / 19;
}

.MapStrigi {
    grid-column: 18 / 22;
    grid-row: 11 / 19;
}

.MapGruenne {
    grid-column: 23 / 29;
    grid-row: 6 / 13;
}

.MapMarneOsso {
    grid-column: 23 / 29;
    grid-row: 5 / 15;
}

.Gruenne, .April, .MarneOsso, .Harland, .Strigi {
    border-radius: 0.5vw;
    width: 100%;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}

.Harland:hover, .April:hover, .MarneOsso:hover, .Gruenne:hover, .Strigi:hover {
    transform: scale(2);
}

.ButtonContainer {
    grid-column: 16 / 18;
    grid-row: 19 / 20;
    display: flex;
    justify-content: center;
}

.Button {
    background: black;
    border-radius: 50%;
    padding: 0.25vw 0.5vw;
    color: white;
    font-size: 1.25vw;
}

@media screen and (max-width: 900px) {
    .Continent {
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(30, 1fr);
    }
    
    .Title {
        grid-column: 4 / 10;
        grid-row: 3 / 5;
        font-size: 7vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .Content {
        grid-column: 3 / 10;
        grid-row: 5 / 14;
        font-size: 3vw;
    }

    .MapHarland {
        grid-column: 2 / 6;
        grid-row: 14 / 21;
    }
    
    .MapApril {
        grid-column: 3 / 7;
        grid-row: 22 / 29;
    }
    
    .MapStrigi {
        grid-column: 7 / 10;
        grid-row: 13 / 22;
    }
    
    .MapGruenne {
        display: none;
    }

    .Gruenne, .April, .MarneOsso, .Harland, .Strigi {
        border-radius: 0.75vw;
        width: 95%;
    }

    .ButtonContainer {
        grid-column: 5 / 6;
        grid-row: 29 / 31;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .Button {
        padding: 0.5vw 1vw;
        font-size: 2.5vw;
    }
}

@media screen and (max-width: 500px) {
    .Continent {
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(30, 1fr);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .Title {
        grid-column: 4 / 10;
        grid-row: 3 / 5;
        font-size: 8vw;
        padding: 10vw 0vw 0 10vw;
    }
    
    .Content {
        grid-column: 3 / 10;
        grid-row: 6 / 21;
        font-size: 4.25vw;
        padding: 0vw 7vw 0 17vw;
    }

    .MapHarland {
        grid-column: 2 / 9;
        grid-row: 22 / 28;
        width: 90%;
        display: flex;
        justify-content: center;
    }

    .Harland {
        border-radius: 3vw;
        width: 60%;
        height: 100%;
    }
    
    .MapApril, .MapStrigi, .MapGruenne {
        display: none;
    }

    .Harland:hover, .April:hover, .MarneOsso:hover, .Gruenne:hover, .Strigi:hover {
        transform: scale(1.5);
    }
 
    .ButtonContainer {
        grid-column: 4 / 6;
        grid-row: 28 / 31;
        display: flex;
        justify-content: center;
        width: 80%;
    }

    .Button {
        margin-top: 5vw;
        padding: 0.5vw 1.25vw;
        font-size: 4vw;
    }
}
