@use '../../../scss/' as *;

.Cartography {
  grid-column: 7 / 13;
  grid-row: 14 / 18;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  z-index: 1;

  @extend %half-second-transition;

  @include media-query-new(tablet-new) {
    grid-column: 8 / 13;
    grid-row: 14 / 19;
  }

  @include media-query-new(desktop-small-new) {
    grid-column: 5 / 9;
    grid-row: 15 / 22;
  }
}

.Cartography:focus-within,
.OuterCoastline:hover {
  transform: scale(1.075);
  rotate: -15deg;
}

.OuterCoastline {
  @extend %moving-waves;
  @extend %half-second-transition;
  border-radius: 60% 40% 60% 35%;

  transform: rotate(-15deg);
}

.InnerCoastline {
  @extend %inner-coastline;
  border: 0.14vw dashed var(--continent-border);
  padding: 0.75vw;
}

.Continent {
  @extend %continent-styles;
  background: linear-gradient(
    30deg,
    rgb(206, 165, 112),
    rgb(206, 165, 112),
    var(--continent),
    rgb(206, 165, 112),
    var(--continent),
    rgb(187, 168, 142)
  );
  background-size: 3% 5%;
}

.Title {
  padding: 1rem;
  font-size: 1.75rem;
  transform: rotate(-7.5deg);

  @include media-query-new(tablet-new) {
    padding: 1.5rem 1.75rem;
    font-size: 2.5rem;
  }

  @include media-query-new(desktop-medium-new) {
    padding: 1.5rem 2.25rem;
    font-size: 3rem;
  }

  @include media-query-new(desktop-large-new) {
    padding: 1.5rem 2.25rem;
    font-size: 3.5rem;
  }
}

@media (prefers-reduced-motion: reduce) {
  .Cartography:focus-within {
    transform: none;
    rotate: 0deg;

    .OuterCoastline {
      box-shadow: 0 0 1vw 0.75vw var(--focus-hover-highlight);
    }
  }

  .OuterCoastline:hover {
    transform: none;
    box-shadow: 0 0 1vw 0.75vw var(--focus-hover-highlight);
  }

  .OuterCoastline {
    animation: none;
  }
}
