@use '../../../scss/' as *;

.Cartography {
  grid-column: 2 / 8;
  grid-row: 18 / 23;
  
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  z-index: 1;

  @extend %half-second-transition;

  @include media-query-new(tablet-new) {
    grid-column: 4 / 9;
    grid-row: 19 / 23;
  }

  @include media-query-new(desktop-small-new) {
    grid-column: 7 / 11;
    grid-row: 17 / 25;
  }
}

.Cartography:focus-within,
.OuterCoastline:hover {
  transform: scale(1.075);
}

.OuterCoastline:hover {
  rotate: -15deg;
}

.OuterCoastline {
  @extend %coastal-shadow-and-waves;
  @extend %half-second-transition;
  
  border-radius: 60% 40% 60% 35%;
  padding: var(--outer-coastline-padding);

  transform: rotate(-15deg);
}

.InnerCoastline {
  @extend %inner-coastline;
  
  padding: var(--inner-coastline-padding);

  @include media-query-landscape-mobile {
    padding: 0.1rem;
  }
}

.Continent {
  @extend %continent;
}

.Title {
  transform: rotate(-7.5deg);
  padding: 1rem;
  font-size: calc(var(--continent-title-size) * .75);

  @include media-query-new(desktop-small-new) {
    font-size: calc(var(--continent-title-size) * .5);
  }

  @include media-query-landscape-mobile {
    font-size: 1rem;
    padding: 0.75rem;
  }
}

@media (prefers-reduced-motion: reduce) {
  .Cartography:focus-within {
    transform: none;
    rotate: 0deg;

    .OuterCoastline {
      box-shadow: 0 0 1vw 0.75vw var(--focus-hover-highlight);
    }
  }

  .OuterCoastline:hover {
    transform: none;
    box-shadow: 0 0 1vw 0.75vw var(--focus-hover-highlight);
  }

  .OuterCoastline {
    animation: none;
  }
}

// media queries:
// @include media-query-new(tablet-new) {
// @include media-query-new(desktop-small-new) {
// @media (prefers-reduced-motion: reduce) {
// @include media-query-landscape-mobile {
