@use '../../../scss/' as *;

.CartographyDetails {
  text-align: center;

  header {
    margin-top: 1.5vw;
    font-family: var(--continent-font-bold);
    // font-size: 5vw;

    font-family: var(--continent-font-bold);
    font-size: var(--continent-popup-title);
  }

  section {
    margin: 1vw 2vw;
    padding: 0 1vw;
    font-size: var(--popup-text);
  }

  header + section {
    text-align: justify;

    span {
      font-family: var(--continent-font-bold);
      font-size: 2.25vw;
    }
  }

  section + section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5vw;

    p {
      width: 100%;
    }
  }
}

.April,
.Ganderlund,
.Gruenne,
.Harland,
.MarneOsso,
.Strigi {
  border: thin solid black;
  border-radius: 0.5vw;
  background-repeat: no-repeat;
  height: 20vh;
  width: 15vw;
}

.April {
  background-image: url('../../../assets/maps/April.png');
  background-size: 195%;
  background-position: 10% 10%;
}

.Ganderlund {
  background-image: url('../../../assets/maps/Ganderlund.png');
  background-size: 250%;
  background-position: 95% 25%;
}

.Gruenne {
  background-image: url('../../../assets/maps/Gruenne.png');
  background-size: 350%;
  background-position: 2% 2%;
}

.Harland {
  background-image: url('../../../assets/maps/Harland.png');
  background-size: 275%;
  background-position: 10% 95%;
}

.MarneOsso {
  background-image: url('../../../assets/maps/MarneOsso.png');
  background-size: 250%;
  background-position: 95% 5%;
}

.Strigi {
  background-image: url('../../../assets/maps/Strigi.png');
  background-size: 200%;
  background-position: 25% 10%;
}

@include media-query(desktop-medium) {
  .CartographyDetails {
    header {
      // font-size: 5vw;
    }
  }

  .April,
  .Ganderlund,
  .Gruenne,
  .Harland,
  .MarneOsso,
  .Strigi {
    border-radius: 0.75vw;
    height: 20vh;
    width: 15vw;
  }
}

@include media-maxWidth-minHeight(tablet, mobile) {
  .CartographyDetails {
    header {
      margin-top: 2vw;
      // font-size: 8vw;
    }

    section {
      margin: 0 4vw;
    }

    header + section {
      span {
        font-size: 3.3vw;
      }
    }

    section + section {
      margin-top: 2vw;
      gap: 6vw;
    }
  }

  .April,
  .Ganderlund,
  .Gruenne,
  .Harland,
  .MarneOsso,
  .Strigi {
    height: 17vh;
    width: 30vw;
  }
}

@include media-maxWidth-orientation(tablet, landscape) {
  .CartographyDetails {
    section {
      font-size: 2.5vw;
    }

    header + section {
      span {
        font-size: 2.75vw;
      }
    }

    section + section {
      p {
        font-size: 2.5vw;
      }
    }
  }

  .Strigi {
    display: none;
  }
}

@include media-query(mobile) {
  .CartographyDetails {
    header {
      margin-top: 4vw;
      // font-size: 13vw;
    }

    header + section {
      margin-top: 2vw;
      margin-bottom: 0;
      span {
        font-size: 5.25vw;
      }
    }

    section + section {
      margin: 1vw;
    }
  }

  .April,
  .Ganderlund,
  .Gruenne,
  .Harland,
  .MarneOsso,
  .Strigi {
    height: 12vh;
    width: 35vw;
  }
}
