.ComingSoon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: goldenrod;
  font-size: x-large;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Margins {
    margin: .75vw;
  }
