@use '../../../scss/' as *;

.ProjectsDetails {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  height: inherit;
  // height: 80vh;
  // overflow: auto;

  ul {
    width: 95%;
    margin-inline: auto;
    // background-color: green;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

    height: 80vh;
    overflow: auto;
  }

  @include media-query(desktop-small) {
    ul {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      background-color: aliceblue;
    }
  }

  @include media-query(tablet) {
    ul {
      grid-template-columns: repeat(2, 1fr);
      background-color: pink;
    }
  }

  @include media-query(mobile) {
    ul {
      height: 90vh;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: auto;
      background-color: blue;
    }
  }
}

.Header {
  margin-top: 1.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Title {
  font-size: var(--popup-title);
}

.ProjectsDisplayCase {
  // margin: 0.5rem;
  height: 80%;
  // width: 96%;

  display: flex;
  flex-wrap: wrap;

  overflow: auto;
}

.Project {
  margin: 0.35vw;
  height: 50%;
  width: 32.1%;
}

@include media-query(desktop-small) {
  .ProjectsDisplayCase {
    margin: 1vw;
    height: 85%;
    width: 95%;
  }

  .Project {
    margin: 0.5vw;
    height: 47%;
    width: 48.22%;
  }
}

// Desktop narrow screen size
@include media-maxWidth-minHeight(tablet, mobile) {
  .Intro {
    margin-top: 1vw;
  }

  .ProjectsDisplayCase {
    margin: 2vw;
    height: 87%;
    width: 95%;
  }

  .Project {
    height: 50%;
    width: 48.25%;
    margin: 0.82vw;
  }
}

// Tablet screen size
@include media-maxWidth-minHeight(tablet, senior) {
  .Project {
    height: 35%;
  }
}

@include media-mobile-landscape() {
  .Project {
    height: 80vh;
  }
}

@include media-query(mobile) {
  .Intro {
    margin: 1.5vw;
  }

  .ProjectsDisplayCase {
    width: 90%;
  }

  .Project {
    margin: 2vw auto;
    height: 40%;
    width: 100%;
  }
}
