.Projects {
    grid-column: 1 / 5;
    grid-Row: 2 / 5;

    display: flex;
    align-items: center;
    justify-content: center;
}

.OuterCoastline {
    background: var(--outer-coastline);
    border-radius: 84vw 75vw 51vw 38vw;
    box-shadow: 0vw 0vw 2vw 2vw var(--coastline-shadow);
    padding: var(--outer-coastline-padding);
}

.InnerCoastline {
    background: var(--inner-coastline);
    border: 0.15vw dashed var(--continent-border);
    border-radius: inherit;
    padding: var(--inner-coastline-padding);
    height: fit-content;
    width: fit-content;
}

.Continent {
    background: var(--continent);
    border: .25vw solid var(--continent-border);
    border-radius: inherit;
    height: 22vh;
    width: 22vw;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 3vw;
    font-weight: bold;
}

@media screen and (max-width: 900px) {
    .Continent {
        height: 20vw;
        width: 25vh;
    }
}

@media screen and (max-width: 500px) {
    .Projects {
        grid-column: 1 / 9;
        grid-Row: 5 / 9;
    
        display: flex;
        align-items: center;
        justify-content: center;

        
    }
    
    .Continent {
        height: 27vw;
        width: 22vh;

        
        padding: 2vw;
        
        font-size: 8vw;
        text-align: center;
    }
}
