.ProjectsDetails {
    background: var(--continent);
    border-radius: 84vw 75vw 51vw 38vw;
    height: 90vh;
    width: 85vw;
    position: absolute;
    top: 5%;
    left: 7.5%;
    z-index: 1;
}

.OuterCoastline {
    background: var(--outer-coastline);
    border-radius: inherit;
    height: 100%;
    width: 100%;
    padding: var(--outer-coastline-details-padding);
}

.InnerCoastline {
    background: var(--inner-coastline);
    border: 0.3vw dashed var(--continent-border);
    border-radius: inherit;
    height: inherit;
    width: inherit;
    padding: var(--inner-coastline-details-padding);
}

.Continent {
    background: var(--continent);
    border-radius: inherit;
    height: inherit;
    width: inherit;
    padding: 1vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: justify;

    overflow: auto;
}

.Title {
    font-size: var(--continent-details-title);
    font-weight: bold;
}

.Intro {
    font-size: var(--continent-details-intro);
    margin: 1vw;
}

.ProjectsDisplayCase {
    height: 65%;
    width: 75%;
    
    border-radius: 1vw;
    padding: 0.75vw;
    
    display: flex;
    flex-wrap: wrap;

    overflow: auto;
}

.Project {
    border-radius: 1vw;

    display: flex;

    margin: 0.5vw auto;

    height: 80%;
    width: 45%;
    text-align: center;
}

.Button {
    background: black;
    border-radius: 50%;
    margin: 0.5vw;
    padding: 0.25vw 0.5vw;
    color: white;
    font-size: 1.25vw;
}



@media screen and (max-width: 900px) {
    .ProjectsDetails {
        border-radius: 40vw 40vw 15vw 15vw;
        top: 10%;
        left: 5%;
        height: 80vh;
        width: 90vw;
    }

    .Title {
        padding-top: 7vw;
        font-size: 6vw;
        font-weight: 600;
    }

    .Intro {
        width: 75%;
        font-size: 3vw;
        margin: 0.25vw 2vw 0.75vw;
    }


    .ProjectsDisplayCase {
        padding: 2vw;
        height: 85%;
    }

    .Project {
        margin: 1vw auto;
        height: 45%;
        width: 45%;
    }

    .Button {
        padding: 0.5vw 1vw;
        font-size: 2.5vw;
    }
}

@media screen and (max-width: 500px) {
    .ProjectsDetails {
        top: 2%;
        left: 2.5%;
        height: 95vh;
        width: 95vw;
    }

    .Title {
        padding-top: 7vw;
        font-size: 7vw;
        font-weight: 600;
    }
    
    .Intro {
        margin: 1.5vw;
        width: 75%;
        font-size: 4.25vw;
    }

    .ProjectsDisplayCase {
        width: 85%;
    }

    .Project {
        margin: 1vw auto;
        height: fit-content;
        width: 95%;
    }

    .Button {
        padding: 0.5vw 1.25vw;
        font-size: 3.5vw;
    }
}
