.Projects {
    grid-column: 1 / 5;
    grid-Row: 2 / 5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.OuterCoastline {
    background: var(--outer-coastline);
    border-radius: var(--project-continent-shape);
    box-shadow: var(--continent-box-shadow) var(--coastline-shadow);
    padding: var(--outer-coastline-padding);
    width: fit-content;
}

.InnerCoastline {
    background: var(--inner-coastline);
    border: var(--inner-coastline-width) dashed var(--continent-border);
    border-radius: inherit;
    padding: var(--inner-coastline-padding);
    height: fit-content;
    width: fit-content;
}

.Continent {
    background: var(--continent);
    border: .25vw solid var(--continent-border);
    border-radius: inherit;
    height: var(--project-continent-height);
    width: var(--project-continent-width);
    padding: var(--continent-padding);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--project-continent-font);
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width: 900px) {
    .Projects {
        grid-column: 1 / 7;
        grid-Row: 2 / 6;
    }
}

@media screen and (max-width: 500px) {
    .Projects {
        grid-column: 1 / 8;
        grid-row: 5 / 10;
    }
}
