@use '../../../scss/' as *;

.ProjectsDetails {
  height: 98%;
  // background-color: pink;

  header {
    // background-color: red;
    margin-top: 1.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: var(--continent-font-bold);
    font-size: var(--continent-popup-title);
  }

  ul {
    // background-color: blue;
    overflow: auto;
    width: 95%;
    margin-inline: auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    // height: 80vh;
    // overflow: auto;
  }

  @include media-query(desktop-small) {
    ul {
      height: 90%;

      grid-template-columns: repeat(2, 1fr);
    }
  }

  @include media-query(tablet) {
    margin-inline: auto;
    ul {
      height: 95%;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @include media-query(mobile) {
    width: 90%;
    margin-inline: auto;

    ul {
      // height: 90vh;
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

// .Title {
//   font-size: var(--popup-title);
// }

.ProjectsDisplayCase {
  // height: 80%;

  display: flex;
  flex-wrap: wrap;

  // overflow: auto;
}

@include media-query(desktop-medium) {
  .ProjectsDisplayCase {
    margin: 1vw;
    // height: 85%;
    width: 95%;
  }
}

// Desktop narrow screen size
@include media-maxWidth-minHeight(tablet, mobile) {
  .Intro {
    margin-top: 1vw;
  }

  .ProjectsDisplayCase {
    margin: 2vw;
    // height: 87%;
    width: 95%;
  }
}

// Tablet screen size
@include media-maxWidth-minHeight(tablet, tablet-wide) {
}

@include media-mobile-landscape() {
}

@include media-query(mobile) {
  .Intro {
    margin: 1.5vw;
  }

  .ProjectsDisplayCase {
    width: 90%;
  }
}
