.ProjectsDetails {
    background: var(--continent);
    border: black solid thick;
    border-radius: 2vw;
    height: 96vh;
    width: 60vw;
    position: absolute;
    top: 2%;
    left: 20vw;
    z-index: 1;
    overflow: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.Button {
    background: black;
    border-radius: 50%;
    padding: 0.25vw 0.5vw;
    color: white;
    font-size: 1.25vw;

    position: absolute;
    top: 1vw;
    left: 56vw;
}

.Header {
    margin-top: 1.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: dashed black 1px; */
}


.Title {
    font-size: var(--popup-title);
    /* border: dashed black 1px; */
}

.Intro {
    margin-top: .5vw;
    font-size: var(--popup-header-text);
    /* border: dashed black 1px; */
}

.ProjectsDisplayCase {
    margin: .75vw;
    height: 80%;
    width: 95%;
    
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    
    overflow: auto;
    /* border: dashed black 1px; */
}

.Project {
    margin: .5vw;    
    height: 60%;
    width: 48.2%;
    display: flex;
    /* border: dashed black 1px; */
}

@media screen and (max-width: 1200px) {
    .ProjectsDetails {
        top: 1.5%;
        height: 97vh;
    }

    .ProjectsDisplayCase {
        margin: 1vw;
        height: 82%;
        width: 97%;
        /* justify-content: center; */
    }

    .Project {
        height: 47%;
        width: 48.25%;
    }
}

@media screen and (max-width: 900px) {
    .ProjectsDetails {
        border-radius: 0;
        top: 0%;
        left: 0%;
        height: 100vh;
        width: 100vw;
    }

    .Button {
        padding: 0.5vw 1vw;
        font-size: 3vw;
        left: 93vw;
    }

    .Intro {
        margin-top: 1vw;
    }


    .ProjectsDisplayCase {
        margin: 2vw;
        height: 90%;
        width: 97%;
    }

    .Project {
        height: 40%;
        width: 48.25%;
        /* margin: 1vw;
        height: 45%;
        width: 45%; */
    }
}

@media screen and (max-width: 500px) {
    .ProjectsDetails {
        top: 2%;
        left: 2.5%;
        height: 95vh;
        width: 95vw;
    }

    .Title {
        padding-top: 7vw;
        font-size: 8vw;
        font-weight: 600;
    }
    
    .Intro {
        margin: 1.5vw;
        width: 75%;
        font-size: 4.25vw;
    }

    .ProjectsDisplayCase {
        width: 85%;
    }

    .Project {
        margin: 2vw auto;
        height: fit-content;
        width: 100%;
    }

    .Button {
        padding: 0.5vw 1.25vw;
        font-size: 3.5vw;
    }
}
