.ProjectsDetails {
    background: var(--continent);
    border-radius: 84vw 75vw 51vw 38vw;
    height: 80vh;
    width: 80vw;
    position: absolute;
    top: 15%;
    left: 10%;
    z-index: 1;
}

.OuterCoastline {
    background: var(--outer-coastline);
    border-radius: inherit;
    height: 100%;
    width: 100%;
    padding: var(--outer-coastline-details-padding);
}

.InnerCoastline {
    background: var(--inner-coastline);
    border: 0.3vw dashed var(--continent-border);
    border-radius: inherit;
    height: inherit;
    width: inherit;
    padding: var(--inner-coastline-details-padding);
}

.Continent {
    background: var(--continent);
    border-radius: inherit;
    height: inherit;
    width: inherit;
    padding: 1vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;

    overflow: auto;
}

.Title {
    font-size: var(--continent-details-title);
}

.Intro {
    font-size: var(--continent-details-intro);
    margin: 0.25vw 2vw 0.75vw;
}

.ProjectsDisplayCase {
    background: rgb(216, 241, 216);
    height: 65%;
    width: 75%;

    border: .1vw solid black;
    border-radius: 1vw;

    padding: 0.5vw;
    
    display: flex;
    flex-wrap: wrap;

    overflow: auto;
}

.Project {
    background: tan;
    border-radius: 1vw;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0.5vw auto;

    height: 90%;
    width: 45%;
    text-align: center;
}

.Button {
    background: black;
    border-radius: 50%;
    padding: .5vw;
    color: white;
    margin-top: 2vw;
}



@media screen and (max-width: 900px) {
    .ProjectsDetails {
        left: 3%;
        height: 50vw;
        width: 70vh;
    }

    .ProjectsDisplayCase {
        padding: 2vw;
    }
}

@media screen and (max-width: 500px) {
    .ProjectsDetails {
        top: 32%;
        left: 4%;
        height: 45vh;
        width: 92vw;
    }

    .ProjectsDisplayCase {
        width: 85%;
    }

    .Project {
        margin: 1vw;
        width: 95%;
    }
    

    .Title {
        padding-top: 7vw;
        font-size: 7vw;
        font-weight: 600;
    }

    .Intro {
        width: 75%;
        font-size: 3vw;
    }
}
