@use '../../../scss/' as *;

.ProjectsPopUp {
  border-radius: inherit;

  height: calc(100dvh - var(--border-width) * 4);
  
  header {
    margin-block: var(--popup-header-margin-block);

    font-family: var(--continent-font-bold);
    font-size: var(--popup-title-size);
    text-align: center;
    line-height: 1.25;
  }

  ul {
    margin-inline: auto;
    padding-inline: 1rem;
    
    max-width: 95%;
    height: calc(100% - var(--popup-title-size) - var(--popup-header-margin-block) - var(--border-width) * 3);
    overflow: auto;
    
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    align-content: flex-start;

    @include media-query-new(desktop-small-new) {
      height: calc(100% - var(--popup-title-size) - var(--popup-header-margin-block) - var(--border-width) * 4 - 5%);
      grid-template-columns: repeat(2, 1fr);
    }
  
    @include media-query-new(desktop-large-new) {
      grid-template-columns: repeat(3, 1fr);
    } 
  }
}

/* MEDIA QUERIES USED:
  @include media-query-new(desktop-small-new) {
  @include media-query-new(desktop-large-new) {
*/
