@use '../../../scss/' as *;

.Projects {
  grid-column: 1 / 5;
  grid-row: 2 / 5;
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  z-index: 1;
  z-index: 2;

  @extend %half-second-transition;

  @include media-query(tablet) {
    grid-column: 1 / 7;
    grid-row: 2 / 6;
  }

  @include media-mobile-landscape() {
    grid-column: 1 / 5;
    grid-row: 2 / 8;
    padding-top: 1.5rem;
  }

  @include media-query(mobile) {
    grid-column: 1 / 8;
    grid-row: 5 / 10;
    padding-top: 0;
    padding-right: 1rem;
    padding-bottom: 2rem;
  }
}

.Projects:focus-within,
.OuterCoastline:hover {
  transform: scale(1.075);
}

.OuterCoastline {
  @extend %moving-waves;
  @extend %half-second-transition;
  border-radius: 84vw 75vw 51vw 38vw;
  max-width: 100%;
}

.InnerCoastline {
  @extend %inner-coastline;
}

.Continent {
  @extend %continent-styles;
  background: linear-gradient(
    210deg,
    rgb(150, 134, 114),
    rgb(210, 180, 140),
    rgb(210, 180, 140),
    rgb(206, 165, 112),
    rgb(187, 172, 152),
    rgb(206, 165, 112)
  );

  padding: 1rem 2rem;
  font-size: 7.5rem;

  @include media-query(desktop-medium) {
    font-size: 5.5rem;
  }

  @include media-query(desktop-small) {
    font-size: 4.5rem;
  }

  @include media-query(tablet) {
    font-size: 5.5rem;
  }

  @include media-query(junior) {
    font-size: 4rem;
  }

  @include media-mobile-landscape() {
    padding: 0.5rem 1.25rem;
    font-size: 2.75rem;
  }

  @include media-query(mobile) {
    padding: 0.5rem 1rem;
    font-size: 2.75rem;
  }
}

@media (prefers-reduced-motion: reduce) {
  .Projects:focus-within {
    transform: none;
    .OuterCoastline {
      box-shadow: 0 0 1vw 0.75vw var(--focus-hover-highlight);
    }
  }

  .OuterCoastline:hover {
    transform: none;
    box-shadow: 0 0 1vw 0.75vw var(--focus-hover-highlight);
  }

  .OuterCoastline {
    animation: none;
  }
}
