@use '../../../scss/' as *;

.ProjectsContinent {
  grid-column: 1 / 8;
  grid-row: 4 / 9;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  z-index: 2;

  // border-radius: 84vw 75vw 51vw 38vw;
  outline: solid white 1px;

  @include media-query-new(tablet-new) {
    grid-row: 4 / 9;
  }

  @include media-query-new(desktop-small-new) {
    grid-column: 1 / 5;
    grid-row: 5 / 11;
  }
}

// media queries:
// @include media-query-new(tablet-new) {
// @include media-query-new(desktop-small-new) {
// @include media-query-new(desktop-medium-new) {
// @media (prefers-reduced-motion: reduce) {