.Projects {
    grid-column: 1 / 5;
    grid-Row: 2 / 5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.OuterCoastline {
    background: var(--outer-coastline);
    border-radius: var(--project-continent-shape);
    box-shadow: var(--continent-box-shadow) var(--coastline-shadow);
    padding: var(--outer-coastline-padding);
    width: fit-content;

    background: linear-gradient(90deg, var(--outer-coastline), rgb(77, 152, 199), rgb(106, 178, 223), rgb(74, 146, 190));
    background-blend-mode: soft-light;
    background-size: 15% 15%;
}

.OuterCoastline {
    animation: gradient 20s ease infinite both;
    -moz-animation: gradient 20s ease infinite both;
    -webkit-animation: gradient 20s ease infinite both;
    -o-animation: gradient 20s ease infinite both;
    -ms-animation: gradient 20s ease infinite both;
}

@keyframes gradient {
    0% { background-position: 0 50%; }
    25% { background-position: 50% 0; }
    50% { background-position: 100% 50%; }
    75% { background-position: 50% 75%; }
    100% { background-position: 0 50%; }
  }

  @-moz-keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    75% { background-position: 50% 75%; }
    100% { background-position: 0% 50%; }
  }

  @-webkit-keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    75% { background-position: 50% 75%; }
    100% { background-position: 0% 50%; }
  }

.InnerCoastline {
    background: var(--inner-coastline);
    border: var(--inner-coastline-border-width) dashed var(--continent-border);
    border-radius: inherit;
    padding: var(--inner-coastline-padding);
    height: fit-content;
    width: fit-content;
}

.Continent {
    background: var(--continent);
    border: .25vw solid var(--continent-border);
    border-radius: inherit;
    height: var(--project-continent-height);
    width: var(--project-continent-width);
    padding: var(--continent-padding);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--project-continent-font);
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width: 900px) {
    .Projects {
        grid-column: 1 / 7;
        grid-Row: 2 / 6;
    }
}

@media screen and (max-width: 500px) {
    .Projects {
        grid-column: 1 / 8;
        grid-row: 5 / 10;
    }
}
