@use 'sass:map';

$breakpoints: (
  desktop-small: 1200px,
  tablet: 900px,
  junior: 700px,
  mobile: 500px
);

@mixin media-query($key) {
  $size: map.get($breakpoints, $key);

  @media (max-width: $size) {
    @content;
  }
}

@mixin media-query-landscape($key) {
  $size: map.get($breakpoints, $key);

  @media (max-width: $size) and (orientation: landscape) {
    @content;
  }
}

@mixin media-maxWidth-orientation($key, $orientation) {
  $size: map.get($breakpoints, $key);

  @media (max-width: $size) and (orientation: $orientation) {
    @content;
  }
}
