@use './breakpoints' as *;

%coastal-shadow-and-waves {
  box-shadow: var(--coastline-shadow);

  padding: var(--outer-coastline-padding);

  background: var(--outer-coastline-bkgd);
  background-size: var(--outer-coastline-bkgd-size);
  animation: coastal-wave 20s ease infinite both;
  -moz-animation: coastal-wave 20s ease infinite both;
  -webkit-animation: coastal-wave 20s ease infinite both;
  -o-animation: coastal-wave 20s ease infinite both;
  -ms-animation: coastal-wave 20s ease infinite both;
}

@keyframes coastal-wave {
  0% {
    background-position: 0 100%;
  }
  25% {
    background-position: 50% 0;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 75%;
  }
  100% {
    background-position: 0 100%;
  }
}

@-moz-keyframes coastal-wave {
  0% {
    background-position: 0 50%;
  }
  25% {
    background-position: 50% 0;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 75%;
  }
  100% {
    background-position: 0 50%;
  }
}

@-webkit-keyframes coastal-wave {
  0% {
    background-position: 0 50%;
  }
  25% {
    background-position: 50% 0;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 75%;
  }
  100% {
    background-position: 0 50%;
  }
}

%inner-coastline {
  padding: var(--inner-coastline-padding);
  border-radius: inherit;
  background: var(--inner-coastline);
}

%continent {
  border: var(--continent-border);
  border-radius: inherit;
  
  background: var(--continent-bkgd);
  background-size: 115% 115%;
  
  font-family: var(--continent-font-bold);
}

%island-centering {
  display: flex;
  align-items: center;
  justify-content: center;
}

%half-second-transition {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}

%project-details {
  border-style: solid;
  border-width: medium;
  border-radius: 1rem;

  height: 100%;
  width: 100%;
  overflow: auto;

  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 1;

  font-family: var(--main-font);

  div {
    text-align: center;
    margin: 0.75rem 0.5rem;
    padding: 0.75rem 2.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    overflow: auto;

    h2 {
      font-size: var(--project-details-title);
      line-height: var(--project-details-title);
    }

    h3 {
      font-size: var(--project-details-tech);
      font-weight: 500;
    }

    h3,
    p {
      max-width: 45rem;
    }

    p:not(:last-child) {
      font-size: var(--project-details-text);
      text-align: justify;
    }

    a {
      color: inherit;
    }
  }

  @include media-query(desktop-medium) {
    // width: 65%;
  }

  @include media-query(tablet) {
    // width: 75%;
  }

  @include media-query(junior) {
    border-radius: 0;
    // height: 100%;
    // width: 100%;
    overflow: auto;

    div {
      gap: 2rem;
    }
  }

  @include media-query(mobile) {
    border-radius: 0;

    div {
      padding: 0.75rem 1.25rem;
      gap: 0.75rem;
    }
  }
}

%testing-colors {
  background-color: white;
  border-radius: inherit;

  @include media-query(desktop-medium) {
    background-color: yellow;
    border-radius: inherit;
  }

  @include media-query(desktop-small) {
    background-color: aliceblue;
    border-radius: inherit;
  }

  @include media-query(tablet) {
    background-color: purple;
    border-radius: inherit;
  }

  @include media-query(mobile) {
    background-color: darkslategray;
    border-radius: inherit;
  }
}

%testing-colors-new {
  background-color: hsl(0, 0%, 100%, 0.5);
  outline: 2px dotted lightcoral;

  @include media-query-new(tablet-new) {
    background-color: hsl(60, 100%, 50%, 0.5);
    outline: 2px dotted red;
  }

  @include media-query-new(desktop-small-new) {
    background-color: hsl(180, 100%, 50%, 0.5);
    outline: 2px dotted black;
  }

  @include media-query-new(desktop-medium-new) {
    background-color: hsla(300, 59%, 55%, 0.5);
    outline: 2px dotted white;
  }

  @include media-query-new(desktop-large-new) {
    background-color: hsl(120, 73%, 75%, 0.5);
    outline: 2px dotted yellow;
  }
}

%outline {
  outline: 1px solid white;

  @include media-query-new(tablet-new) {
    outline: 1px solid red;
  }

  @include media-query-new(desktop-small-new) {
    outline: 1px solid yellow;
  }

  @include media-query-new(desktop-medium-new) {
    outline: 1px solid green;
  }

  @include media-query-new(desktop-large-new) {
    outline: 1px solid lightblue;
  }
}

