%moving-waves {
  box-shadow: var(--coastline-box-shadow) var(--coastline-shadow-color);
  padding: var(--outer-coastline-padding);

  background: linear-gradient(
    90deg,
    var(--outer-coastline),
    rgb(77, 152, 199),
    rgb(106, 178, 223),
    rgb(74, 146, 190)
  );
  background-blend-mode: soft-light;
  background-size: 15% 15%;

  animation: coastal-wave 20s ease infinite both;
  -moz-animation: coastal-wave 20s ease infinite both;
  -webkit-animation: coastal-wave 20s ease infinite both;
  -o-animation: coastal-wave 20s ease infinite both;
  -ms-animation: coastal-wave 20s ease infinite both;
}

@keyframes coastal-wave {
  0% {
    background-position: 0 100%;
  }
  25% {
    background-position: 50% 0;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 75%;
  }
  100% {
    background-position: 0 100%;
  }
}

@-moz-keyframes coastal-wave {
  0% {
    background-position: 0 50%;
  }
  25% {
    background-position: 50% 0;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 75%;
  }
  100% {
    background-position: 0 50%;
  }
}

@-webkit-keyframes coastal-wave {
  0% {
    background-position: 0 50%;
  }
  25% {
    background-position: 50% 0;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 75%;
  }
  100% {
    background-position: 0 50%;
  }
}

%inner-coastline {
  background: var(--inner-coastline);
  border: var(--inner-coastline-border-width) dashed var(--continent-border);
  border-radius: inherit;
  padding: var(--inner-coastline-padding);
}

%continent-styles {
  background-blend-mode: soft-light;
  background-size: 115% 115%;
  border: 0.25vw solid var(--continent-border);
  border-radius: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--continent-font-bold);
}

%island-centering {
  display: flex;
  align-items: center;
  justify-content: center;
}

%half-second-transition {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}
