.Resume {
    grid-column: 7 / 11;
    grid-row: 6 / 9;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.OuterCoastline {
    background: var(--outer-coastline);
    border-radius: var(--resume-continent-shape);
    box-shadow: var(--continent-box-shadow) var(--coastline-shadow);
    padding: var(--outer-coastline-padding);
    width: fit-content;
}
  
.InnerCoastline {
    background: var(--inner-coastline);
    border: 0.15vw dashed var(--continent-border);
    border-radius: inherit;
    padding: var(--inner-coastline-padding);
    height: fit-content;
    width: fit-content;
}
  
.Continent {
    background: var(--continent);
    border: .25vw solid var(--continent-border);
    border-radius: inherit;
    height: var(--resume-continent-height);
    width: var(--resume-continent-width);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--resume-continent-font);
    font-weight: bold;
}

@media screen and (max-width: 900px) {
  .Resume {
    grid-column: 8 / 13;
    grid-row: 7 / 10;
  }
}

@media screen and (max-width: 500px) {
  .Resume {
    grid-column: 7 / 13;
    grid-row: 14 / 17;
  }
}
