@use '../../../scss/' as *;

.Resume {
  grid-column: 7 / 11;
  grid-row: 6 / 9;
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  z-index: 1;

  @extend %half-second-transition;
}

.Resume:focus-within,
.OuterCoastline:hover {
  transform: scale(1.075);
}

.OuterCoastline {
  @extend %moving-waves;
  @extend %half-second-transition;
  border-radius: 520vw 270vw 495vw 190vw;
}

.InnerCoastline {
  @extend %inner-coastline;
}

.Continent {
  @extend %continent-styles;
  background: linear-gradient(
    30deg,
    rgb(206, 165, 112),
    rgb(206, 165, 112),
    var(--continent),
    rgb(206, 165, 112),
    var(--continent),
    rgb(187, 168, 142)
  );
  height: 15vh;
  width: 20vw;
  font-size: 6.5vw;
}

@include media-maxWidth-minHeight(tablet, mobile) {
  .Resume {
    grid-column: 8 / 13;
    grid-row: 7 / 10;
  }

  .Continent {
    height: 10vh;
    width: 25vw;
    font-size: 8.5vw;
  }
}

@include media-mobile-landscape() {
  .Resume {
    grid-column: 1 / 5;
    grid-row: 7 / 13;
  }
}

@include media-query(mobile) {
  .Resume {
    grid-column: 1 / 7;
    grid-row: 14 / 19;
    padding-right: 2vw;
  }
  .Continent {
    height: 8vh;
    width: 30vw;
    font-size: 10vw;
  }
}

@media (prefers-reduced-motion: reduce) {
  .Resume:focus-within {
    transform: none;
    .OuterCoastline {
      box-shadow: 0 0 1vw 0.75vw var(--focus-hover-highlight);
    }
  }

  .OuterCoastline:hover {
    transform: none;
    box-shadow: 0 0 1vw 0.75vw var(--focus-hover-highlight);
  }

  .OuterCoastline {
    animation: none;
  }
}
