@use '../../../scss/' as *;

.Resume {
  // grid-column: 7 / 11;
  // grid-row: 6 / 9;
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  z-index: 1;

  // padding-bottom: 2rem;

  @extend %half-second-transition;

  @extend %testing-colors-new;

  // new
  grid-column: 1 / 7;
  grid-row: 14 / 19;

  @include media-query-new(tablet-new) {
    grid-column: 1 / 7;
    grid-row: 15 / 21;
  }

  @include media-query-new(desktop-small-new) {
    grid-column: 9 / 13;
    grid-row: 15 / 25;
  }

  @include media-query(tablet) {
    // grid-column: 8 / 13;
    // grid-row: 7 / 10;
    // padding-bottom: 0;
  }

  @include media-mobile-landscape() {
    // grid-column: 1 / 5;
    // grid-row: 7 / 13;
    // padding-bottom: 1.25rem;
  }

  @include media-query(mobile) {
    // grid-column: 1 / 7;
    // grid-row: 14 / 19;
  }
}

.Resume:focus-within,
.OuterCoastline:hover {
  transform: scale(1.075);
}

.OuterCoastline {
  @extend %moving-waves;
  @extend %half-second-transition;
  border-radius: 520vw 270vw 495vw 190vw;
}

.InnerCoastline {
  @extend %inner-coastline;
}

.Continent {
  @extend %continent-styles;
  background: linear-gradient(
    30deg,
    rgb(206, 165, 112),
    rgb(206, 165, 112),
    var(--continent),
    rgb(206, 165, 112),
    var(--continent),
    rgb(187, 168, 142)
  );

  padding: 1.25rem 2rem;
  font-size: 7rem;

  // new
  padding: 0.5rem 1rem;
  font-size: 2rem;

  // new
  padding: 0.75rem 1.25rem;
  font-size: 2.5rem;

  // padding: 0.6rem 1rem;
  // font-size: 2rem;

  @include media-query-new(tablet-new) {
    padding: 1rem 1.5rem;
    font-size: 5rem;

    padding: 0.8rem 1.2rem;
    font-size: 4.75rem;
  }

  @include media-query-new(desktop-small-new) {
  }

  @include media-query-new(desktop-medium-new) {
    padding: 1.25rem 2rem;
    font-size: 5rem;
  }

  @include media-query(desktop-medium) {
    // padding: 1rem 1.75rem;
    // font-size: 5rem;
  }

  @include media-query(desktop-small) {
    // font-size: 4rem;
  }

  @include media-query(tablet) {
    // padding: 0.75rem 1.5rem;
    // font-size: 5rem;
  }

  @include media-query(junior) {
    // font-size: 3.5rem;
  }

  @include media-mobile-landscape() {
    // padding: 0.5rem 1.5rem;
    // font-size: 2rem;
  }

  @include media-query(mobile) {
    // padding: 0.5rem 1rem;
    // font-size: 2rem;
  }
}

@media (prefers-reduced-motion: reduce) {
  .Resume:focus-within {
    transform: none;
    .OuterCoastline {
      box-shadow: 0 0 1vw 0.75vw var(--focus-hover-highlight);
    }
  }

  .OuterCoastline:hover {
    transform: none;
    box-shadow: 0 0 1vw 0.75vw var(--focus-hover-highlight);
  }

  .OuterCoastline {
    animation: none;
  }
}
